<!-- HOME SECTION -->
<header id="home-section">
      <div class="row home-inner">
        <div class="col-lg-8 col-md-12 col-sm-12 rounded py-1 d-flex" style="background-color:rgba(255,255,255,0.85);">
           <div class="align-self-center">
                <img class="mt-3" src="/assets/img/Umweltcheck_Logo_transparent.PNG" style="width:50%; margin-left:23%">

                <h4 class="display-6 text-center mt-3">
                    Die günstige und unkomplizierte Ermittlung betrieblicher Umwelt- und Klimakennzahlen
                </h4>
                <div class="d-flex align-content-between">
                  <div class="p-2 align-self-center align-middle ">              
                    <fa-icon class="fas" [icon]="faCheck" size="3x"></fa-icon>
                  </div>
                  <div class="p-2 align-self-center align-middle">
                    Bestimmen Sie einfach die relevanten Umweltkennzahlen für Ihren Betrieb, ohne extra Belege einzureichen
                  </div>
                </div>
                <div class="d-flex align-content-between">
                        <div class="p-2 align-self-center align-middle ">              
                          <fa-icon class="fas" [icon]="faCheck" size="3x"></fa-icon>
                        </div>
                        <div class="p-2 align-self-center align-middle">
                                Vergleichen Sie die Nachhaltigkeit Ihres Betriebes mit anderen Betrieben Ihrer Branche in den Bereichen Endenergie (Strom, Heizung), CO2-Emissionen, Wasser und Abfall
                        </div>
                      </div>
        
                <div class="d-flex align-content-between">
                  <div class="p-2 align-self-center align-middle">
                      <fa-icon class="fas" [icon]="faCheck" size="3x"></fa-icon>
                  </div>
                  <div class="p-2 align-self-center align-middle">
                        Erhalten Sie Feedback und umfassende Informationen zur Optimierung Ihrer umweltbewussten Betriebsführung
                  </div>
                </div>
                
             <div class="d-flex">
                    <div class="p-2 align-self-center align-middle">
                        <fa-icon class="fas" [icon]="faCheck" size="3x"></fa-icon>
                    </div>
                    <div class="p-2 align-self-center align-middle">
                        Erfahren Sie, ob eine Umweltzertifizierung für Sie sinnvoll ist
                    </div>                         
             </div>                    
              <div class="d-flex align-content-between">
                <div class="p-2 align-self-center align-middle">
                    <fa-icon class="fas" [icon]="faCheck" size="3x"></fa-icon>
                </div>
                <div class="p-2 align-self-center align-middle">
                 
                      <p>99,- Euro zzgl. MwSt. pro Betrieb für einen Quick Check Umwelt</p><br>
                </div>
            </div>
           </div>                  
        </div>               

        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto" style="padding-right:0px!important;" id="register">
          <div class="card bg-success text-center" style="height:100%">
            <div class="ml-3 mr-3 rounded mt-3" style="background-color:white;">
                <h4 class="mt-3 px-4 p-2 rounded card-head">Melden Sie sich heute noch an</h4>
            </div>
            <div class="text-justify align-middle" >
              <app-register></app-register>
            </div>
          </div>
        </div>      
    </div>
</header>

<section id="explore-head-section" style="display: none;">
        <div class="rounded white_85percent border-viabono">
          <div class="row row-eq-height row-zero-margin text-justify">
                      <div class="col-sm-12 col-md-6 col-lg-6 text-justify">       
                                <div class="h4 text-center mt-4">
                                 Viabono – die marktführende Auszeichnung für umwelt- und klimafreundliches Reisen wird 20 Jahre
                                </div>            
                          <div class="card-body text-justify pt-1">
                                <ul>
                                        <li>Viabono verschenkt 20 den &bdquo;Quick Check Umwelt&ldquo; in Deutschland an interessierte Hotels im Wert von 99,00 Euro</li>
                                        <li>Viabono begleitet die nachhaltige Tourismusentwicklung in der Modellregion M&uuml;nsterland mit 5 kostenfreien CO2-Fu&szlig;abdruck Berechnungen</li>
                                        <li>Viabono schlie&szlig;t strategische Partnerschaft mit den f&uuml;hrenden<br />Zertifizierungsunternehmen TourCert &amp; Certified zur F&ouml;rderung einer &ouml;kologischen und sozialen Weiterentwicklung im Tourismus</li>
                                </ul>
                          </div>
                          <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                                <img class="img-fluid" title="Viabono-Team" src="/assets/img/2020-05-05ViabonoTeam.PNG">
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-6 text-justify">
                         <div class="h4 text-center mt-4">
                                Viabono verschenkt Quick Check Umwelt 
                       </div>
                        <div class="card-body text-justify pt-1">
                          <p>06.05.21 R&ouml;srath-Hoffnungsthal: Viabono ist Marktf&uuml;hrer f&uuml;r umwelt- und klimafreundliches Reisen. Seit 2010 wurden &uuml;ber 500 CO2-Fu&szlig;abdr&uuml;cke erstellt und hunderte weitere Beherbergungsbetriebe zertifiziert. Anl&auml;sslich des 20j&auml;hrigen Bestehens wird Viabono einen aktiven Beitrag f&uuml;r die nachhaltige Entwicklung im Beherbergungswesen leisten, indem sie 20 Betrieben den &bdquo;Quick Check Umwelt&ldquo; im Wert von je 99,00 Euro schenkt. Der &bdquo;Quick Check Umwelt&ldquo; ist ein Tool zur Ermittlung der Umwelt- und Klimafreundlichkeit von Hotels, Pensionen, Ferienh&auml;user und Ferienwohnungen, liefert Umweltkennzahlen f&uuml;r Strom, Wasser, Heizung und Abfall und zeigt Optimierungsvorschl&auml;ge f&uuml;r verschiedene Unternehmensbereiche auf. Anhand der Umweltanalyse k&ouml;nnen Betriebe so direkt &ouml;kologische Einsparpotentiale identifizieren und bekommen anhand eines Benchmarks wird der Status Quo f&uuml;r nachhaltiges Wirtschaften aufgezeigt.</p>
                        </div>                    
                </div>
          </div>
    </div>
</section>


<section id="explore-head-section">
  <div class="rounded white_85percent border-viabono">
        <div class="row row-eq-height row-zero-margin">
            <div class="col-sm-12">
                <div class="h4 text-center mt-4">
                        Was ist der Quick Check Umwelt?
                </div>
            </div>
        </div>
    <div class="row row-eq-height row-zero-margin text-justify">
                <div class="col-sm-12 col-md-6 col-lg-6 text-justify">                   
                    <div class="card-body text-justify pt-1">
                    Der Quick Check Umwelt ist ein Online-Tool zur einfachen Ermittlung der Umwelt- und Klimafreundlichkeit von Hotels, Pensionen, Ferienwohnungen und Ferienhäusern. Mit dem Quick Check Umwelt ist ein Vergleich der Umweltkennzahlen bzw. ein Benchmarking dieser mit anderen Betrieben selber Klasse und Kategorie möglich.<br>
                    Die Betriebe erfassen online ihre relevanten Kennzahlen in den Bereichen Endenergie, CO2-Emissionen, Wasser und Abfall und erhalten 
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 text-justify">
                        <div class="card-body text-justify pt-1">
                                eine PDF-Auswertung mit Feedback und Verbesserungsmöglichkeiten zu ihrem Betrieb sowie weitere Informationen zur Kommunikation umweltbewusster Betriebsführung. Teilnehmende Betriebe erhalten entsprechend schnell und kostengünstig wertige Ergebnisse, ohne umfassende Kriterien- bzw. Erhebungsbögen ausfüllen zu müssen oder Belege einzureichen. Bitte beachten Sie, dass der Quick Check Umwelt keine Zertifizierung ist, sondern eine IST-Analyse Ihrer Verbräuche.
                        </div>
                </div>
    </div>
  </div>
</section>

<section class="section">
        <div class="row row-eq-height row-zero-margin white_85percent rounded">
                <div class="col-sm-12 col-md-6">
                        <div class="text-center">  
                            <div class="card-head mt-4 h6"> 
                                Der Quick Check Umwelt umfasst die Bereiche
                            </div> 
                                <div class="card-body d-flex justify-content-around">                                                                             
                                    <div>
                                        <img class="" title="Endenergie" src="/assets/img/Strom.png" style="width:70px;height:70px;">
                                        <p class="w-100 my-2">Endenergie</p>
                                    </div>
                                    <div>
                                        <img class="" title="CO2-Emissionen" src="/assets/img/Heizung.png" style="width:70px;height:70px;">
                                        <p class="w-100 my-2">CO2-Emissionen</p>
                                    </div>
                                    <div>
                                        <img class="" title="Wasser" src="/assets/img/Wasser.png" style="width:70px;height:70px;">
                                        <p class="w-100 my-2">Wasser</p>
                                    </div>
                                    <div>
                                        <img class="" title="Abfall" src="/assets/img/Mülleimer.png" style="width:70px;height:70px;">
                                        <p class="w-100 my-2">Restabfall</p>
                                    </div>
                                </div>                                      
                        </div>
                </div>     
                <div class="col-sm-12 col-md-6">
                        <div class="h-100 text-center">  
                                <div class="card-head mt-4 h6"> 
                                        Der Quick Check Umwelt ist zur Teilnahme geeignet für
                                </div> 
                                <div class="card-body d-flex justify-content-around" style="padding-top:31px;">
                                    <div>
                                            <fa-icon class="fas" [icon]="faBuilding" size="4x"></fa-icon>
                                            <p class="w-100 my-2">Hotels</p>
                                        </div>
                                    <div>
                                        <fa-icon class="fas" [icon]="faBuilding" size="4x"></fa-icon>
                                        <p class="w-100 my-2">Pensionen</p>
                                    </div>
                                    <div>
                                        <fa-icon class="fas" [icon]="faHome" size="4x"></fa-icon>
                                        <p class="w-100 my-2">Ferienwohnungen <br>& Ferienhäuser</p>
                                    </div> 
                                </div>          
                        </div>
                </div>       
        </div>        
</section>
<section class="section">
        <div class="row row-eq-height row-zero-margin white_85percent rounded">
           <div class="col">
                <div class="h4 text-center mt-4"> 
                        Die Vorteile
                </div> 
            </div>
        </div>
        <div class="row row-eq-height row-zero-margin white_85percent rounded">   
                <div class="col-sm-12 col-md-4 col-lg-4 justify-content-around">
                        <div class=" card-body">
                                <div class="w-100 text-center mb-4">
                                    <fa-icon class="fas" [icon]="faLeaf" size="4x"></fa-icon>
                                    <fa-icon class="fas mx-2" [icon]="faCalculator" size="3x"></fa-icon>
                                    <fa-icon class="fas" [icon]="faBuilding" size="4x"></fa-icon>                                                  
                                </div>
                                <p class="w-100 my-2 text-justify">1. Bestimmen Sie einfach und kostengünstig relevante Umweltkennzahlen für Ihren Betrieb, ohne umfassende Kriterien- bzw. Erhebungs- bögen auszufüllen oder Belege einzureichen.
                                    </p>
                        </div>
                </div>   
                <div class="col-sm-12 col-md-4 col-lg-4 justify-content-around text-justify">
                        <div class="card-body">
                                <div class="text-center mb-4">
                                        <fa-icon class="fas" [icon]="faBuilding" size="4x"></fa-icon>  
                                        <fa-icon class="fas mx-2" [icon]="faExchangeAlt" size="3x"></fa-icon>
                                        <fa-icon class="fas" [icon]="faIndustry" size="4x"></fa-icon>                                                
                                </div>
                            <p class="w-100 my-2 text-justify ">2. Vergleichen Sie die Nachhaltigkeit Ihres Betriebes mit anderen Betrieben Ihrer Branche in den Bereichen Endenergie (Strom, Heizung), CO2-Emissionen, Wasser und Abfall.</p>
                        </div>
                </div>   
                <div class="col-sm-12 col-md-4 col-lg-4 justify-content-around mx-auto">
                        <div class="mx-auto card-body">
                                <div class="text-center mb-4">
                                        <fa-icon class="fas" [icon]="faBuilding" size="4x"></fa-icon>  
                                        <fa-icon class="fas mx-2" [icon]="faRuler" size="3x"></fa-icon>
                                        <fa-icon class="fas" [icon]="faAward" size="4x"></fa-icon>                                                
                                </div>
                            <p class="w-100 my-2 text-justify">3. Lassen Sie den Abstand zu dem Branchenbenchmark und dem Top-Wert berechnen und erfahren Sie durch den Quick Check Umwelt, wie umweltfreundlich Ihr Betrieb im Vergleich zur Branche wirtschaftet.</p>
                        </div>             
                </div>             
        </div>    
        <div class="row row-eq-height row-zero-margin white_85percent rounded justify-content-around">  
                <div class="col-sm-12 col-md-4 col-lg-4 text-justify justify-content-around mb-4">
                        <div class="mx-auto card-body">
                                <div class="w-100 text-center mb-4">
                                        <fa-icon class="fas" [icon]="faInfoCircle" size="4x"></fa-icon>  
                                        <fa-icon class="fas mx-2" [icon]="faSync" size="3x"></fa-icon>
                                        <fa-icon class="fas" [icon]="faChartLine" size="4x"></fa-icon>                                                
                                </div>
                                <p class="my-2">4. Erhalten Sie umfassende Informationen und Feedback zur Optimierung Ihrer umwelt- bewussten Betriebsführung.</p>
                        </div> 
                </div>           
                <div class="col-sm-12 col-md-4 col-lg-4 justify-content-around mb-4">
                    <div class="h-100 text-justify d-flex">
                                                      
                            <div class="mx-auto card-body">                                                
                                    <div class="w-100 text-center mb-4">
                                            <fa-icon class="fas" [icon]="faCompass" size="4x"></fa-icon>  
                                            <fa-icon class="fas mx-2" [icon]="faDirections" size="3x"></fa-icon>  
                                            <fa-icon class="fas mx-2" [icon]="faAward" size="4x"></fa-icon>                                                
                                    </div>
                                    <p class="w-100 my-2">5. Erfahren Sie, ob Sie möglicherweise eine Umweltzertifizierung (wie z.B. den DEHOGA-Umweltcheck) bestehen würden.</p>
                            </div>
                          
                    </div>                                
                </div>
        </div>          
</section>

<section class="section">
        <div class="row row-eq-height row-zero-margin white_85percent rounded">
                <div class="col-sm-12">
                        <div class="h-100 text-center">  
                                <div class="text-center">  
                                        <div class="card-head mt-4 h4"> 
                                            Der Ablauf
                                        </div> 
                                            <div class="card-body d-flex justify-content-around">                                                                              
                                                    <div>
                                                        <fa-icon class="fas ml-4" [icon]="faUserEdit" size="4x" style="margin-top:28px;"></fa-icon>
                                                        <a href="#register"><p class="w-100 my-2">1. Anmelden</p></a>
                                                    </div>
                                                <div class="">
                                                    <fa-icon class="fas w-100 mb-2 ml-2" [icon]="faEdit" size="4x"></fa-icon>
                                                    <img class="d-inline" title="Endenergie" src="/assets/img/Strom.png" style="width:20px;height:20px;">
                                                    <img class="d-inline" title="CO2-Emissionen" src="/assets/img/Heizung.png" style="width:20px;height:20px;">
                                                    <img class="d-inline" title="Wasser" src="/assets/img/Wasser.png" style="width:20px;height:20px;">
                                                    <img class="d-inline" title="Abfall" src="/assets/img/Mülleimer.png" style="width:20px;height:20px;">
                                                    <p class="w-100 my-2">2. Betriebsdaten eingeben zu Strom,<br>Heizung, Wasser und Abfall </p>
                                                </div>
                                                <div>
                                                        <fa-icon class="fas w-100 mb-2" [icon]="faCloudUploadAlt" size="4x"></fa-icon>
                                                        <img class="d-inline" title="Endenergie" src="/assets/img/Strom.png" style="width:20px;height:20px;">
                                                        <img class="d-inline" title="CO2-Emissionen" src="/assets/img/Heizung.png" style="width:20px;height:20px;">
                                                        <img class="d-inline" title="Wasser" src="/assets/img/Wasser.png" style="width:20px;height:20px;">
                                                        <img class="d-inline" title="Abfall" src="/assets/img/Mülleimer.png" style="width:20px;height:20px;">
                                                    <p class="w-100 my-2">3. Quick Check Umwelt<br>absenden</p>
                                                </div>
                                                <div>
                                                        <fa-icon class="fas w-100 mb-2 ml-2" [icon]="faEuroSign" size="4x" style="margin-bottom:29px!important;"></fa-icon>
                                                    <p class="w-100 my-2">4. Rechnung <br> überweisen</p>
                                                </div>
                                                <div>   <div class="w-100">
                                                        <fa-icon class="fas mb-2 mx-2" [icon]="faChartBar" size="4x"></fa-icon>
                                                        <fa-icon class="fas mb-2 mx-2" [icon]="faEnvelope" size="4x"></fa-icon>
                                                        </div>
                                                        <img class="d-inline" title="Endenergie" src="/assets/img/Strom.png" style="width:20px;height:20px;">
                                                        <img class="d-inline" title="CO2-Emissionen" src="/assets/img/Heizung.png" style="width:20px;height:20px;">
                                                        <img class="d-inline" title="Wasser" src="/assets/img/Wasser.png" style="width:20px;height:20px;">
                                                        <img class="d-inline" title="Abfall" src="/assets/img/Mülleimer.png" style="width:20px;height:20px;">
                                                        <p class="w-100 my-2">5. Individuelle Auswertung erhalten</p>
                                                </div>
                                            </div>                                      
                                    </div>
    
                        </div>
                </div>        
        </div>
</section>
<section class="section" id="Auswertung">
        <div class="row row-eq-height row-zero-margin white_85percent rounded">
                <div class="col-sm-12 col-md-6 col-lg-6 py-4">
                        <div class="card border-viabono h-100">
 
                           <div class="card-body text-justify">    
                                <div class="m-auto py-4">
                                  <img src="/assets/img/Auswertung.PNG" style="max-width:100%;" class="d-block">    
                                </div>
                            </div>           
                        </div>                         
                </div>    
                <div class="col-sm-12 col-md-6 col-lg-6"> 
                        <div class="card-head h4 p-2 text-center">
                                Die Auswertung
                        </div>                      
                        <div class="card-body text-justify">
                        Jeder teilnehmende Betrieb erhält seine individuelle auf seinen Betrieb zugeschnittene Auswertung zu den jeweiligen Bereichen Endenergie (Strom, Heizung), CO2-Emissionen, Wasser und Abfall. In der jeweiligen Auswertung kann der Betrieb erkennen, wie er gegenüber dem Benchmark und gegenüber dem Zielwert abschneidet und welcher Handlungsbedarf bei ihm aus diesen Kennzahlen abzuleiten ist. Weiterführend werden hierzu zugehörige Maßnahmen vorgeschlagen, um die Kennzahlen in dem jeweiligen Bereich zu verbessern.<br>                                                         
                        </div>
                        <div class="card-head h5 p-2 text-center">
                                Informationen zur Optimierung und Kommunikation Ihrer umweltbewussten Betriebsführung
                        </div>                           
                        <div class="card-body text-justify">
                        Die Auswertung enthält zusätzlich "Best Practices" zur Kommunikation umweltbewusster Betriebsführung. Lernen Sie, wie Sie die Kommunikation von Umweltschutz und Nachhaltigkeit gegenüber Ihren Gästen verbessern können.<br>                                                         
                        </div>
                        <div class="card-head h5 p-2 text-center">
                            Ist eine Umweltzertifizierung für Ihren Betrieb sinnvoll?
                        </div>                           
                        <div class="card-body text-justify">
                            Informieren Sie sich mithilfe der Auswertung des Quick Check Umwelt über Möglichkeiten und Vorteile einer Umweltzertifizierung für Ihren Betrieb. 
                            Schneiden Sie im Quick Check Umwelt besser ab als der Benchmark, so haben Sie gute Chancen auch eine Umweltzertifizierung (z. B. den DEHOGA Umweltcheck) zu bestehen.                                                         
                        </div>
                </div>
        </div>
</section>
<section class="section">
        <div class="row row-eq-height row-zero-margin white_85percent rounded">
                <div class="col-sm-12 col-md-6 col-lg-6 my-4">
                        <div class="card border-viabono h-100">  
                            <div class="card-head h5 px-2">
                            Warum gibt es den <img class="mx-2" src="/assets/img/Umweltcheck_Logo_transparent.PNG" style="width:40%;"> ?
                            </div>
                            <div class="card-body text-justify">
                              Viele kleine und mittlere Betriebe wünschen sich die Möglichkeit auf eine einfache und günstige Art und Weise festzustellen, wie sie im Bereich Umwelt im Vergleich zu anderen abschneiden, ohne gleich eine große Zertifizierung durchzuführen. Aus diesem Gedanken heraus ist der Quick Check Umwelt als gemeinschaftliches Partnerprojekt entstanden, der Betrieben eine einfache und günstige Möglichkeit bietet, zu bestimmen, wo sie mit ihren Umweltkennzahlen stehen und, ob eine Umweltzertifizierung sinnvoll ist.
                            </div>
                        </div> 
                  </div> 
            <div class="col-sm-12 col-md-6 col-lg-6 my-4" id="viabono">
                    <div class="card border-viabono h-100">  
                        <div class="card-head h5 p-2">
                            Wer prüft den Quick Check Umwelt?
                        </div>                            
                          
                                <div [hidden]="readMore1" class="card-body text-justify">    
                                        <a href="www.viabono.de" target="_blank"><img src="/assets/img/logo_claim.png" style="max-width:37%;margin-right:10px;margin-bottom:2 5px;margin-top:35px;" class="pull-left"></a>   
                                        <p>Der Quick Check Umwelt wird angeboten und durchgeführt von Viabono, der unabhängigen und anerkannten Fachorganisation für Umwelt- und Nachhaltigkeitszertifizierungen. Kommunikativ unterstützende Partner sind u. a. Qualitätsgastgeber Wanderbares Deutschland, Bett+Bike Deutschland sowie der DEHOGA Bundesverband.</p>
                                        <a [hidden]="readMore1" role="button" class="btn btn-link" (click)="readMore1=!readMore1" href="#viabono">-> mehr lesen</a>
                                </div>
                                <div [hidden]="!readMore1" class="card-body text-justify">    
                                                <a href="www.viabono.de" target="_blank"><img src="/assets/img/logo_claim.png" style="max-width:37%;margin-right:10px;margin-bottom:25px;margin-top:35px;" class="pull-left"></a>   
                                                <p>Der Quick Check Umwelt wird angeboten und durchgeführt von Viabono, der unabhängigen und anerkannten Fachorganisation für Umwelt- und Nachhaltigkeitszertifizierungen. Kommunikativ unterstützende Partner sind u. a. Qualitätsgastgeber Wanderbares Deutschland, Bett+Bike Deutschland sowie der DEHOGA Bundesverband.</p>
                                                <p>Die Viabono GmbH wurde 2001 auf Initiative des Bundesumweltministeriums, des Umweltbundesamtes und diverser Spitzenverbände mit dem Ziel gegründet, den Nachhaltigen Tourismus in Deutschland zu fördern. Heute setzt sich der Viabono Trägerverein e. V. aus insgesamt 17 national agierenden Verbänden zusammen.</p>
                                                <p>In den letzten 15 Jahren hat sich die Viabono GmbH, als ein Unternehmen des Viabono Trägervereins e. V., als unabhängige und führende Fachorganisation für Umwelt- oder Nachhaltigkeitszertifizierungen in der Freizeit- und Tourismusbranche etabliert. Dabei zeichnen sich die Konzepte sowohl durch ein sinnvolles Maß an seriöser Fachkompetenz und Glaubwürdigkeit als auch an Praxisorientierung und Pragmatismus aus. Anders als bei Mitbewerbern zielen die wissenschaftlich fundierten Zertifizierungskonzepte nicht auf die Abfrage von Maßnahmen sondern auf die Ermittlung von Klima- und Umweltkennzahlen, um den tatsächlichen Stand der umwelt- und klimafreundlichen Betriebsführung zu ermitteln. Hierbei bietet Viabono touristischen Leistungsträgern in Deutschland die Zertifizierung zu besonders marktfähigen Preisen an. Getreu dem Leitgedanken: Ökologie und Ökonomie passen sehr wohl zueinander und ergänzen sich nicht selten sogar hervorragend!</p>
                                                <p>Die Viabono GmbH bietet selbst eigene Zertifizierungen an, übernimmt aber auch die Verbreitung, Entwicklung, Markteinführung, Überarbeitung und/oder Umsetzung von Zertifizierungs-Produkten in Kooperation mit bzw. im Auftrag von anderen Institutionen. Somit generiert Viabono den großen Vorteil, dass touristische Leistungsträger qualitativ hochwertige Leistungen aus ein- und derselben Hand erhalten und so sowohl Arbeit als auch Kosten eingespart werden können.</p>
                                                <p>Die Viabono GmbH lässt für jedes Geschäftsjahr eine umfassende CO2-Bilanz nach den GHG Richtlinien durch eine externe Fachorganisation erstellen. Die ermittelten Emissionen werden durch ein GOLD Standard zertifiziertes Wiederaufforstungsprojekt in Panama kompensiert  (<a href="https://www.viabono.de/Portals/user_upload/CO2OL-68811_2018__Urkunde_co2ol_2018-10-08_110303_userid_104.pdf" target="_blank">Zertifikat</a>).</p>
                                                <a [hidden]="!readMore1" role="button" class="btn btn-link" (click)="readMore1=!readMore1" href="#viabono">-> weniger lesen</a>
                                </div>  
                    </div> 
            </div>  
        </div>
      </section>

<section id="Partner" class="section white_85percent text-dark px-5 rounded">
        <div class="">
            <div class="row">
                <div class="h4 mx-auto mt-3"><span class="my-auto">Partner</span></div>
            </div>
                <div class="row" style="padding-bottom:15px!important;">              
                    <div class="col-lg-4 col-md-6 mx-auto my-2">
                        <div id="DEHOGA" class="card p-2 h-100">
                            <div class="card-head h5 text-center">
                                    DEHOGA Bundesverband
                            </div>
                            <div class="card-body text-justify justify-content" style="margin-bottom:10px;">
                                    <img src="/assets/img/logo_Dehoga.png" style="max-width:60%; margin-bottom:1.5em;margin-left:14%!important;" class="mx-auto">
                                    <div [hidden]="readMore">Hinter dem Deutschen Hotel- und Gaststättenverband  (DEHOGA Bundes- verband) steht mit dem Gastgewerbe in Deutschland eine wachsende Dienst- leistungsbranche überwiegend mittel- ständischer Prägung. 222.000 Betriebe mit 2,2 Millionen Beschäftigten und über 53.000 ...</div>
                                    <a [hidden]="readMore" role="button" class="btn btn-link readMore" (click)="readMore=!readMore" href="#DEHOGA">-> mehr lesen</a>
                                    <div [hidden]="!readMore">Hinter dem Deutschen Hotel- und Gaststättenverband  (DEHOGA Bundes- verband) steht mit dem Gastgewerbe in Deutschland eine wachsende Dienst- leistungsbranche überwiegend mittel- ständischer Prägung. 222.000 Betriebe mit 2,2 Millionen Beschäftigten und über 53.000 Auszubildenden – das Gastgewerbe ist ein starkes Stück Wirtschaft und das Rückgrat der heimischen Tourismus- industrie. So vielfältig wie das Gastgewerbe selbst vom klassischen Restaurant über die Gemeinschafts- verpflegung bis zur System- und Sternegastronomie, von der Frühstücks-pension über das Ferien- und das Tagungs- bis zum Luxushotel so vielfältig sind auch die Aufgabenfelder und Einsatzbereiche des DEHOGA. Der DEHOGA gliedert sich in 17 Landesverbände und zwei Fachverbände – Hotelverband Deutschland (IHA) und UNIPAS (Union der Pächter von Autobahn-Service-Betrieben). Darüber hinaus vertreten die fünf Fachabteilungen im DEHOGA Bundesverband – Systemgastronomie, Gemeinschafts- gastronomie, Discotheken, Bahnhofs- gastronomie und Catering – die speziellen Belange ihrer Mitglieder. In Berlin und Brüssel ist der DEHOGA anerkannter Gesprächspartner für Politik, Presse, Verwaltung, die Interessen- verbände der gewerblichen Wirtschaft sowie für die interessierte Öffentlichkeit.</div>
                                    <a [hidden]="!readMore" role="button" class="btn btn-link" (click)="readMore=!readMore" href="#DEHOGA">-> weniger lesen</a>
                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto my-2">
                            <div id="wanderbares" class="card p-2 h-100">
                                    <div class="card-head h5  text-center">
                                            Qualitätsgastgeber Wanderbares Deutschland
                                    </div>
                                    <div class="card-body text-justify justify-content"  style="margin-bottom:10px;">
                                            <img src="/assets/img/Qualitaetsgastgeber-allgemein.png" style="max-width:40%;margin-right:10px;" class="float-left">
                                            <div [hidden]="readMore">Seit 2005 setzt der Deutsche Wander- verband gemeinsam mit seinen regionalen touritischen Kooperationspartnern bundesweite Qualitätsstandards für wanderfreundliche Unterkunfts- und Gastronomiebetriebe. Zurzeit sind ca. 1.600 Betriebe mit dem Prädikat ...</div>
                                            <a [hidden]="readMore" role="button" class="btn btn-link readMore" (click)="readMore=!readMore" href="#wanderbares">-> mehr lesen</a>
                                            <div [hidden]="!readMore">Seit 2005 setzt der Deutsche Wander- verband gemeinsam mit seinen regionalen touristischen Kooperationspartnern bundesweite Qualitätsstandards für wanderfreundliche Unterkunfts- und Gastronomiebetriebe. Zurzeit sind ca. 1.600 Betriebe mit dem Prädikat "Qualitätsgastgeber Wanderbares Deutschland" ausgezeichnet und somit speziell auf die Bedürfnisse von Wanderern eingestellt. Im Unterschied zu regionalen Qualitätssiegeln ist die Marke „Qualitätsgastgeber Wanderbares Deutschland" das einzig bundesweit verbreitete und geprüfte Zertifikat für wanderfreundliche Gastgeber in Deutschland.</div>
                                            <a [hidden]="!readMore" role="button" class="btn btn-link" (click)="readMore=!readMore" href="#wanderbares">-> weniger lesen</a>

                                    </div>
                                </div>                        
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto my-2">
                            <div id="BettnBike" class="card p-2 h-100">
                                    <div class="card-head h5 text-center">
                                            Bett+Bike
                                    </div>
                                    <div class="card-body text-justify justify-content" style="margin-bottom:10px;">
                                            <img src="/assets/img/Bett+Bike_Logo_farbig_(4c).png" style="max-width:50%;margin-bottom:1.5em;margin-left:22%!important;" class="mx-auto">
                                            <div [hidden]="readMore">Immer mehr Menschen nutzen im Urlaub das Fahrrad. Manche radeln von Ort zu Ort, andere erkunden ihre Urlaubsregion von einer festen Bleibe aus. Wer als Radtourist unterwegs ist, hat ganz bestimmte Wünsche und Vorstellungen an den Service seines Quartiers. Der Allgemeine Deutsche Fahrrad-Club ...</div>
                                            <a [hidden]="readMore" role="button" class="btn btn-link readMore" (click)="readMore=!readMore" href="#BettnBike">-> mehr lesen</a>
                                            <div [hidden]="!readMore">Immer mehr Menschen nutzen im Urlaub das Fahrrad. Manche radeln von Ort zu Ort, andere erkunden ihre Urlaubsregion von einer festen Bleibe aus. Wer als Radtourist unterwegs ist, hat ganz bestimmte Wünsche und Vorstellungen an den Service seines Quartiers. Der Allgemeine Deutsche Fahrrad-Club (ADFC) hat aus diesen Wünschen Qualitätskriterien für fahrradfreundliche Unterkünfte entwickelt. Das Bett+Bike-Logo steht für die Erfüllung dieser Kriterien. In allen Bett+Bike-Unterkünften können sich Radreisende darauf verlassen, einen Mindeststandard an fahrradfreundlichem Service vorzufinden. Zurzeit sind über 5.800 Unterkünfte mit Bett+Bike zertifiziert.</div>
                                            <a [hidden]="!readMore" role="button" class="btn btn-link" (click)="readMore=!readMore" href="#BettnBike">-> weniger lesen</a>

                                            <div></div>
                                    </div>
                                </div>                     
                    </div>
                    <!--
                        <div class="col-md-4">
                            <h4>Partner:</h4> 
                            <div class="d-flex flex-column p-3">
                                <img src="/assets/img/logo_Dehoga.png" style="max-width:40%" class="float-left">
                                <div class="card-head h5 p-2">
                                        DEHOGA Bundesverband
                                </div>  
                                <div class="card-body">
                                        Hinter dem Deutschen Hotel- und Gaststättenverband  (DEHOGA Bundesverband) steht mit dem Gastgewerbe in Deutschland eine wachsende Dienstleistungsbranche überwiegend mittelständischer Prägung. 222.000 Betriebe mit 2,2 Millionen Beschäftigten und über 53.000 Auszubildenden – das Gastgewerbe ist ein starkes Stück Wirtschaft und das Rückgrat der heimischen Tourismusindustrie. So vielfältig wie das Gastgewerbe selbst vom klassischen Restaurant über die Gemeinschaftsverpflegung bis zur System- und Sternegastronomie, von der Frühstücks-pension über das Ferien- und das Tagungs- bis zum Luxushotel so vielfältig sind auch die Aufgabenfelder und Einsatzbereiche des DEHOGA. Der DEHOGA gliedert sich in 17 Landesverbände und zwei Fachverbände – Hotelverband Deutschland (IHA) und UNIPAS (Union der Pächter von Autobahn-Service-Betrieben). Darüber hinaus vertreten die fünf Fachabteilungen im DEHOGA Bundesverband – Systemgastronomie, Gemeinschaftsgastronomie, Discotheken, Bahnhofs- gastronomie und Catering – die speziellen Belange ihrer Mitglieder. In Berlin und Brüssel ist der DEHOGA anerkannter Gesprächspartner für Politik, Presse, Verwaltung, die Interessenverbände der gewerblichen Wirtschaft sowie für die interessierte Öffentlichkeit.
                                </div>  
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column p-3">
                                <img src="/assets/img/Bett+Bike_Logo_farbig_(4c).png" style="max-width:40%" class="float-left">
                            </div>
                        </div>
                        <div class="col-md-3 h-100">        
                          <div class="d-flex flex-column p-3">
                              <img src="/assets/img/Qualitaetsgastgeber-allgemein.jpg" style="max-width:40%" class="float-left">
                          </div>  
                        </div>
                    -->  
            </div>          
        </div>
</section>

<app-footer></app-footer>
