  <!-- FOOTER -->
  <footer id="main-footer" class="bg-dark">
      <div class="row row-zero-margin rounded">
        <div class="col py-2 bg-success">
          <p class="align-middle">Copyright &copy;
            <span id="year">2024</span>
          </p>
        </div>
        <div class="col py-2 bg-success">           
          <a href="/datenschutz" class="btn btn-link">Datenschutzerklärung</a>
          <a href="/impressum" class="btn btn-link">Impressum</a>
          <a href="https://www.viabono.de/kontakt.html" target="_blank" class="btn btn-link">Kontakt</a>
        </div>
      </div>
  </footer>
    
  
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>