<div class="container">    
    <div class="row">
        <div class="col">
            <h5 class="d-block mx-auto  text-center">Bitte geben Sie Ihre Daten im Bereich Abfall an:</h5> 
        </div>
    </div>
  <div class="row">         
    <form class="form" [formGroup]="RestabfalltonneFormGroup">
      <div formArrayName="RestabfalltonnenArray">
        <div class="card p-3">
           <h6 class="card-title">Abfallmenge in Tonnen bekannt?</h6>
           <mat-slide-toggle class="" #abfallmenge>{{_SlideToggle_abfallmengeBekannt.checked ?'Ja' : 'Nein'}}</mat-slide-toggle>
        
           <mat-form-field class="" *ngIf="_SlideToggle_abfallmengeBekannt.checked" class="full-width">
              <mat-label>Abfallmenge in Tonnen pro Jahr:</mat-label>  
              <input matInput type="number" lang="de-DE" min="1.00" minlength="1" required [formControl]="abfallmenge_in_kg">
              <div matSuffix>t</div>
              <div matPrefix></div>
           </mat-form-field>
        </div>   

        <div *ngIf="_SlideToggle_abfallmengeBekannt.checked==false" class="card p-3">
          <h6 class="card-title" >Anzahl der Restabfalltonnen</h6>
          <div *ngIf="_SlideToggle_abfallmengeBekannt .checked==false" >
            <h6 class="fontweightnormal">Achtung: Falls Ihre Restabfalltonne(n) auf Abruf geleert wird/werden, addieren Sie bitte das Gesamtvolumen des Jahres und wählen Sie als Leerungsintervall „1 x im Jahr“ </h6> 
            <div *ngFor="let volumen of RestabfalltonnenArray.controls; let i=index">
            
              <h6 class="mt-4 align-middle" *ngIf="i %2 != 1"><mat-icon>delete</mat-icon> Restabfalltonne {{(i+2)/2}}:</h6>
              <h6 class="fontweightnormal" *ngIf="i %2 != 0">Leerungsinterervall:</h6>
              <select *ngIf="i %2 != 0" [formControlName]="i">
                  <option value="0">--Bitte Auswählen--</option>
                  <option *ngFor="let Leerungsinvervall of Leerungsintervalle; let g=index;" [value]="Leerungsinvervall.AnzahlProJahr">
                      {{Leerungsinvervall.Text}}
                  </option>
              </select>
              <label>      
                <h6 class="h6small" *ngIf="i %2 != 1">Volumen in Litern:</h6>
                <input required min="0.00" minlength="1" *ngIf="i %2 != 1" type="number" lang="de-DE" aria-placeholder="Liter" [formControlName]="i">        
              </label>
            </div>
          </div>
          <div class="my-4"></div>
          <button class="btn btn-success" (click)="addRestabfalltonneFormGroups()">Restabfalltonne hinzufügen</button>
          <button class="btn btn-success" (click)="removeRestabfalltonneFormGroups(1)">Eine Restabfalltonne löschen</button>
        </div>
      </div>
    </form>
  </div>
</div>