<br>
<h4>Herzlich willkommen zum Quick Check Umwelt!</h4>
<br>
<p> Wir freuen uns, dass Sie sich dazu entschieden haben, den Quick Check Umwelt zur Ermittlung Ihrer Umwelt-/ Klima- bzw. Verbrauchskennzahlen einzusetzen.</p>
<p>Bitte beachten Sie folgende Informationen vor bzw. bei der Eingabe Ihrer Daten:</p>
<p>• Nutzen Sie als Browser entweder Chrome, Firefox oder Microsoft Edge. Der Internet Explorer wird von Microsoft selber nicht mehr unterstützt.</p>
<p>• Keine Nutzung von Tausendertrennzeichen (<strong>falsch</strong> = 15.500 ; <strong>richtig</strong> = 15000)</p>
<p>• Bitte verwenden Sie bei Kommazahlen (nicht-ganzen Zahlen) statt eines Kommas einen Punkt (<strong>falsch</strong> = 10,5 ; <strong>richtig</strong> 10.5).</p>
<p>• Bitte beachten Sie, dass sich Ihre Angaben (Übernachtungen, Strom- und Heizungsverbrauch etc.) auf ein komplettes Jahr (365 Tage) beziehen. Verbrauchsabrechnungen stellen manchmal weniger oder sogar mehr als 365 Tage dar. Demzufolge muss der Verbrauch auf 365 Tage hoch- oder runtergerechnet werden.</p>


<br>
<h5>Wie sind Sie auf den Quick Check Umwelt aufmerksam geworden?</h5>                                  
    <mat-form-field class="card-body full-width w-75">
            <mat-select [value]="quelle.value" placeholder="Wie sind Sie auf den Quick Check Umwelt aufmerksam geworden?" [formControl]="quelle">
                <mat-option value="1">über den Wanderverband</mat-option>
                <mat-option value="2">über den DEHOGA</mat-option>
                <mat-option value="3">über Bett+Bike</mat-option>
                <mat-option value="4">über Viabono</mat-option>
                <mat-option value="5">über einen Flyer von Viabono</mat-option>
                <mat-option value="7">über Tageskarte.io</mat-option>
                <mat-option value="8">über Certified Hotels</mat-option>                
                <mat-option value="6">keines von denen</mat-option>
            </mat-select>
    </mat-form-field>