<div class="container"> 
    <div class="row">
            <h5 class="d-block mx-auto">Bitte geben Sie Ihre Betriebsdaten ein</h5>         
            <div class="col-md-12 col-sm-12">
                    <form class="form card p-2">
                        <h6 class="h6">Betriebsart</h6>                        
                        <mat-form-field class="full-width">
                                <mat-select [(value)]="selected" placeholder="Bitte wählen Sie aus der Liste">
                                    <mat-option value="Hotels">Hotel / Pension</mat-option>
                                    <mat-option value="Ferienwohnungen">Ferienwohnung/-en | Ferienhaus/-häuser </mat-option>
                                </mat-select>
                        </mat-form-field>
                    </form>
                    <form class="form" [formGroup]="FeWoFormGroup">
                         <div class="card p-2" *ngIf="selected=='Ferienwohnungen'"><!--wenn FeWo ausgewählt-->
                            <h6>Wie viele Gästeanreisen haben Sie im Jahr?</h6>
                            <h6 *ngIf="selected=='Ferienwohnungen'" class="fontweightnormal">Beispiel: Familie Müller (3 Personen) besucht Ihre Ferienwohnung im Frühjahr und Herbst für je eine Woche = 6 Gästeanreisen</h6>
                            <mat-form-field class="full-width">
                                        <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="1" minlength="1" required placeholder="Anzahl der Gästeanreisen pro Jahr" formControlName="anzahl_der_gaesteanreisen_pro_jahr" [formControl]="FeWoFormGroup.controls.anzahl_der_gaesteanreisen_pro_jahr">            
                                        <mat-icon *ngIf="FeWoFormGroup.controls.anzahl_der_gaesteanreisen_pro_jahr.valid" class="success-icon" matSuffix >done</mat-icon>
                                        <mat-error *ngIf="FeWoFormGroup.controls.anzahl_der_gaesteanreisen_pro_jahr.invalid">Bitte geben Sie eine glatte Zahl größer als 0 ein. Kommazahlen sind bei der Anzahl der Gästeanreisen nicht erlaubt.</mat-error>                                
                            </mat-form-field> 
                            <h6>Wie viele Bettenübernachtungen haben Sie von Mai bis Oktober?</h6>
                            <mat-form-field class="full-width">
                                        <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0" minlength="1" required placeholder="Übernachtungen von Mai bis Oktober" formControlName="anzahl_der_uebernachtungen_mai_bis_oktober" [formControl]="FeWoFormGroup.controls.anzahl_der_uebernachtungen_mai_bis_oktober">                                        
                                        <mat-icon *ngIf="FeWoFormGroup.controls.anzahl_der_uebernachtungen_mai_bis_oktober.valid" class="success-icon" matSuffix >done</mat-icon>                                
                                        <mat-error *ngIf="FeWoFormGroup.controls.anzahl_der_uebernachtungen_mai_bis_oktober.invalid">Bitte geben Sie eine glatte Zahl größer als 0 ein. Kommazahlen sind bei der Anzanl der Übernachtungen nicht erlaubt.</mat-error>
                            </mat-form-field>    
                            <h6>Wie viele Bettenübernachtungen haben Sie von November bis April?</h6>
                            <mat-form-field class="full-width">
                                        <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0" minlength="1" required placeholder="Übernachtungen von November bis April" formControlName="anzahl_der_uebernachtungen_november_bis_april" [formControl]="FeWoFormGroup.controls.anzahl_der_uebernachtungen_november_bis_april">
                                        <mat-icon *ngIf="FeWoFormGroup.controls.anzahl_der_uebernachtungen_november_bis_april.valid" class="success-icon" matSuffix >done</mat-icon>
                                        <mat-error *ngIf="FeWoFormGroup.controls.anzahl_der_uebernachtungen_november_bis_april.invalid">Bitte geben Sie eine glatte Zahl ein, keine Kommazahl.</mat-error>
                            </mat-form-field>
                            <h6>Wie groß ist durchschnittlich eine Ferienwohnung?</h6>
                            <h6 *ngIf="selected=='Ferienwohnungen'" class="fontweightnormal">
                                Beispiel: <br>
                                Ferienwohnung 1: 50 m² <br>
                                Ferienwohnung 2: 60 m² <br>
                                Ferienwohnung 3: 70 m² <br>
                                => Durchschnittliche Größe einer Ferienwohnung: (50 m²+ 60 m² + 70 m²)/3 = 60 m²
                            </h6>
                            <mat-form-field class="full-width">
                                    <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0.00" minlength="1" required placeholder="durchschnittliche Größe einer Ferienwohnung" formControlName="durchschnittliche_groesse_der_fe_wo_in_m2" [formControl]="FeWoFormGroup.controls.durchschnittliche_groesse_der_fe_wo_in_m2">
                                    <span matSuffix>m³</span>
                                    <mat-icon *ngIf="FeWoFormGroup.controls.durchschnittliche_groesse_der_fe_wo_in_m2.valid" class="success-icon" matSuffix >done</mat-icon>
                            </mat-form-field>
                            <h6>Wie hoch ist die durchschnittliche maximale Belegungszahl einer Ferienwohnung?</h6>
                            <h6 *ngIf="selected=='Ferienwohnungen'" class="fontweightnormal">
                                    Beispiel: <br>
                                    Ferienwohnung 1: 1-5 Personen <br>
                                    Ferienwohnung 2: 1-3 Personen <br>
                                    Durchschnittliche maximale Belegungszahl einer Ferienwohnung: (5 + 3)/ 2 =  4 Personen                                    
                            </h6>
                            <mat-form-field class="full-width">
                                    <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0.01" minlength="1" required placeholder="durchschnittliche Belegung einer Ferienwohnung" formControlName="durchschnittliche_maximale_belegungszahl_der_fe_wo" [formControl]="FeWoFormGroup.controls.durchschnittliche_maximale_belegungszahl_der_fe_wo">
                                    
                                    <mat-icon *ngIf="FeWoFormGroup.controls.durchschnittliche_maximale_belegungszahl_der_fe_wo.valid" class="success-icon" matSuffix >done</mat-icon>
                            </mat-form-field>
                        </div>                          
                    </form>
            </div>  
            <div class="col-md-12 col-sm-12">
                <form class="form" [formGroup]="betriebsdatenFormGroup">
                    <div class="card p-2">
                        <h6 *ngIf="selected=='Hotels'">Anzahl der Zimmer</h6>
                        <h6 *ngIf="selected=='Ferienwohnungen'"> Wie viele {{selected}} betreiben Sie?</h6>
                        <mat-form-field class="full-width">
                                    <mat-select [value]="betriebsdatenFormGroup.controls.anzahl_der_einrichtungen.value" [formControl]="betriebsdatenFormGroup.controls.anzahl_der_einrichtungen" placeholder="Bitte wählen Sie aus der Liste">
                                        <mat-option *ngFor="let anzahl of Nummer_Anzahl_der_Einrichtungen;let i=index" [value]="i">{{i}}</mat-option>                                                          
                                    </mat-select>
                        </mat-form-field>
                        <h6>Anzahl der Bettenübernachtungen pro Jahr (Pax per year)</h6>
                        <h6 *ngIf="selected=='Ferienwohnungen'" class="fontweightnormal">Beispiel: 4 Personen in einer Ferienwohnung = 4 Bettenübernachtungen</h6>
                        <h6 *ngIf="selected=='Hotels'" class="fontweightnormal">Beispiel: 2 Personen in einem Doppelzimmer = 2 Bettenübernachtungen</h6>
                        <mat-form-field class="full-width">
                                    <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0" minlength="1" required placeholder="Anzahl der Bettenübernachtungen / PAX per night" formControlName="anzahl_bettenuebernachtungen_pro_jahr" [formControl]="betriebsdatenFormGroup.controls.anzahl_bettenuebernachtungen_pro_jahr">
                                    <mat-icon *ngIf="betriebsdatenFormGroup.controls.anzahl_bettenuebernachtungen_pro_jahr.valid" class="success-icon" matSuffix >done</mat-icon>
                                    <mat-error *ngIf="betriebsdatenFormGroup.controls.anzahl_bettenuebernachtungen_pro_jahr.invalid">Bitte geben Sie eine glatte Zahl größer als 0 ein. Kommazahlen sind bei der Anzahl der Bettenübernachtungen nicht erlaubt.</mat-error>
                        </mat-form-field>
                        <div *ngIf="selected=='Hotels'">
                            <h6>Hoteltyp garni</h6>
                            <mat-slide-toggle #garni [color]="color" [checked]="betriebsdatenFormGroup.controls.checkedFormControl9_garni.value" formControlName="checkedFormControl9_garni" [formControl]="betriebsdatenFormGroup.controls.checkedFormControl9_garni">{{betriebsdatenFormGroup.controls.checkedFormControl9_garni.value ?'Ja' : 'Nein'}}</mat-slide-toggle>
                        </div>                     
                    </div>
                    <div class="card p-2">
                        <h6 *ngIf="selected=='Hotels'" >Haben Sie Sterne Deutsche Hotelklassifizierung?</h6>
                        <h6 *ngIf="selected=='Ferienwohnungen'" >Haben Sie Sterne vom DTV für Ferienwohnungen?</h6>
                        <mat-slide-toggle #sterne aria-label type="checkbox" [color]="color" formControlName="checkedFormControl_sterne" [formControl]="betriebsdatenFormGroup.controls.checkedFormControl_sterne">
                            <h6 class="mt-2 align-middle">{{betriebsdatenFormGroup.controls.checkedFormControl_sterne.value ? 'Ja' : 'Nein'}}</h6></mat-slide-toggle>
                        <h6 *ngIf="betriebsdatenFormGroup.controls.checkedFormControl_sterne.value; else keineSterne">Anzahl der Sterne</h6>
                        <ng-template #keineSterne><h6>Selbsteinordnung (zu Vergleichzwecken)</h6></ng-template>
                        <h6 *ngIf="selected=='Ferienwohnungen'" class="fontweightnormal">Wenn Ihre einzelnen Ferienwohnungen unterschiedlich viele Sterne haben, nehmen Sie bitte den Durchschnitt.</h6>
                        <h6 *ngIf="selected=='Hotels'"  class="fontweightnormal">Informationen zu den Kriterien finden Sie <a href="https://www.hotelstars.eu/de/deutschland/kriterien/kriterienkatalog" target="_blank">-> hier</a></h6>
                        <h6 *ngIf="selected=='Ferienwohnungen'"  class="fontweightnormal">Informationen zu den Kriterien finden Sie <a href="https://www.deutschertourismusverband.de/fileadmin/Mediendatenbank/PDFs/Klassifizierung/Kriterien_FH_FeWo_2019.pdf" target="_blank">-> hier</a></h6>
                            <div class="mx-auto">  
                                    <a  *ngFor="let item of starList; let i=index " (click)="setStar(i)">  
                                    <i class="fa-star fa-2x green" [ngClass]="{'far':item,'fas':!item}"></i>
                                    </a>             
                            </div>
                    </div>
                    <div class="card p-2">
                        <h6 [class.display-none]="selected=='Ferienwohnungen'">Größe der Tagsungsraumfläche</h6>
                        <mat-form-field [class.display-none]="selected=='Ferienwohnungen'" class="full-width">
                                    <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0" minlength="0" placeholder="Größe der tagungsraumflaeche in glatten m²" formControlName="tagungsraumflaeche" [formControl]="betriebsdatenFormGroup.controls.tagungsraumflaeche">
                                    <mat-icon *ngIf="betriebsdatenFormGroup.controls.tagungsraumflaeche.valid" class="success-icon" matSuffix >done</mat-icon>
                                    <mat-error *ngIf="betriebsdatenFormGroup.controls.tagungsraumflaeche.invalid">Bitte geben Sie eine glatte Zahl ein, keine Kommazahl.</mat-error>
                        </mat-form-field>
                        <h6 [class.display-none]="selected=='Ferienwohnungen'">Anzahl Restaurantsitzplätze</h6>
                        <mat-form-field [class.display-none]="selected=='Ferienwohnungen'" class="full-width">
                                    <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0" minlength="0" placeholder="Anzahl der Restaurantsitzplätze" formControlName="anzahl_restaurantsitzplaetze" [formControl]="betriebsdatenFormGroup.controls.anzahl_restaurantsitzplaetze">
                                    <mat-icon *ngIf="betriebsdatenFormGroup.controls.anzahl_restaurantsitzplaetze.valid" class="success-icon" matSuffix >done</mat-icon>
                                    <mat-error *ngIf="betriebsdatenFormGroup.controls.anzahl_restaurantsitzplaetze.invalid">Bitte geben Sie eine glatte Zahl ein, keine Kommazahl.</mat-error>
                        </mat-form-field>
                    
                        <h6 >Anzahl Gedecke/Mahlzeiten/Frühstücke pro Jahr</h6>
                        <h6 class="fontweightnormal">1 Hauptgericht (auch mit mehreren Gängen) = 1 Gedeck bzw. 1 Mahlzeit</h6>
                        <p [class.display-none]="selected=='Ferienwohnungen'">Ein Tool, um sowohl die Anzahl der Gedecke sowie den Anteil mehrgängiger Menüs in % zu berechnen, können Sie nachfolgend herunterladen: <a href="https://www.viabono.de/Portals/user_upload/Tool_Ermittlung_Gedecke_und_Mehrg%C3%A4ngigkeit.xlsx" target="_blank">-> hier</a> </p>        
                        <mat-form-field class="full-width">
                                    <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0" minlength="0" placeholder="Anzahl ausgegebener Gedecke pro Jahr" formControlName="anzahl_mahlzeiten_im_jahr" [formControl]="betriebsdatenFormGroup.controls.anzahl_mahlzeiten_im_jahr">
                                    <mat-icon *ngIf="betriebsdatenFormGroup.controls.anzahl_mahlzeiten_im_jahr.valid" class="success-icon" matSuffix >done</mat-icon>
                                    <mat-error *ngIf="betriebsdatenFormGroup.controls.anzahl_mahlzeiten_im_jahr.valid">Bitte geben Sie eine glatte Zahl ein, keine Kommazahl.</mat-error>
                        </mat-form-field>

                        <h6 [class.display-none]="selected=='Ferienwohnungen'">Davon Anteil mehrgängiger Menüs in Prozent</h6>
                        <mat-form-field [class.display-none]="selected=='Ferienwohnungen'" class="full-width">
                                    <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0.000" minlength="0" placeholder="Buffets sind als mehrgägig zu werten" formControlName="anteil_mehrgaenge_menues" [formControl]="betriebsdatenFormGroup.controls.anteil_mehrgaenge_menues">
                                    <mat-icon *ngIf="betriebsdatenFormGroup.controls.anteil_mehrgaenge_menues.valid" class="success-icon" matSuffix >done</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="card p-2">
                        <h6>Beheizte Gesamtfläche in m²?</h6>
                        <mat-form-field class="full-width">
                            <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0.00" minlength="1" required placeholder="Beheizte Gesamtfläche in m²" formControlName="beheizte_gesamtflaeche_in_m3" [formControl]="betriebsdatenFormGroup.controls.beheizte_gesamtflaeche_in_m3">
                            <span matSuffix>m²</span>
                            <mat-icon *ngIf="betriebsdatenFormGroup.controls.beheizte_gesamtflaeche_in_m3.valid" class="success-icon" matSuffix >done</mat-icon>
                        </mat-form-field>
                    <h6>kg Eigenwäsche Jahr?</h6>
                    <mat-form-field class="full-width">
                                <mat-hint>Eigenwäsche ist im Betrieb gewaschene Wäsche. Fremdwäsche ist extern gewaschene Wäsche.</mat-hint>
                                <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0.00" minlength="0" placeholder="Eigenwäsche pro Jahr in kg" formControlName="eigenwaesche_in_kg" [formControl]="betriebsdatenFormGroup.controls.eigenwaesche_in_kg">
                                <span matSuffix>kg</span>                               
                                <mat-icon *ngIf="betriebsdatenFormGroup.controls.eigenwaesche_in_kg.valid" class="success-icon" matSuffix >done</mat-icon>
                    </mat-form-field>
                    </div>
                </form>   
            </div>
            <div class="col-md-12 col-sm-12">
            <form class="form card p-2" [formGroup]="privatFormGroup">                        
                        
                    
                                <h6>Privat-/Mitarbeiterwohnungen im Betrieb</h6>
                                <mat-slide-toggle #p [color]="color" [checked]="privatFormGroup.controls.checkedFormControl2.value" formControlName="checkedFormControl2" [formControl]="privatFormGroup.controls.checkedFormControl2">{{privatFormGroup.controls.checkedFormControl2.value ?'Ja' : 'Nein'}}</mat-slide-toggle>
                                <div *ngIf="privatFormGroup.controls.checkedFormControl2.value">


                                        <h6 *ngIf="selected=='Ferienwohnungen'">Privat-/Mitarbeiterwohnungen in Verbräuchen der Ferienwohnung/en enthalten</h6>
                                        <h6 *ngIf="selected=='Hotels'">Privat-/Mitarbeiterwohnungen in Verbräuchen des Hotels enthalten</h6>
                                        <mat-slide-toggle #pv aria-label [color]="color" [(checked)]="privatFormGroup.controls.checkedFormControl4_privateVerbraeuche.value" formControlName="checkedFormControl4_privateVerbraeuche" [formControl]="privatFormGroup.controls.checkedFormControl4_privateVerbraeuche"><h6 class="mt-2 align-middle">{{privatFormGroup.controls.checkedFormControl4_privateVerbraeuche.value ?'Ja, und zwar folgende:' : 'Nein, private Zähler sind getrennt'}}</h6></mat-slide-toggle>
                                        <div *ngIf="privatFormGroup.controls.checkedFormControl4_privateVerbraeuche.value" class="px-4">
                                                <mat-slide-toggle #privatStrom aria-label [color]="color" [(checked)]="privatFormGroup.controls.checkedFormControl5_privateVerbraeucheStrom.value" formControlName="checkedFormControl5_privateVerbraeucheStrom" [formControl]="privatFormGroup.controls.checkedFormControl5_privateVerbraeucheStrom"><h6 class="mt-2 align-middle">{{privatFormGroup.controls.checkedFormControl5_privateVerbraeucheStrom.value ?'Ja, Stromzähler sind dieselben' : 'Nein, es gibt getrennte Stromzähler'}}</h6></mat-slide-toggle><h6></h6>
                                                <mat-slide-toggle #privatHeizung aria-label [color]="color" [(checked)]="privatFormGroup.controls.checkedFormControl6_privateVerbraeucheHeizung.value" formControlName="checkedFormControl6_privateVerbraeucheHeizung" [formControl]="privatFormGroup.controls.checkedFormControl6_privateVerbraeucheHeizung"><h6 class="mt-2 align-middle">{{privatFormGroup.controls.checkedFormControl6_privateVerbraeucheHeizung.value ?'Ja, Heizungsverbrauchszähler sind dieselben' : 'Nein, es gibt getrennte Heizungsverbrauchszähler'}}</h6></mat-slide-toggle><h6></h6>
                                                <mat-slide-toggle #privatWasser aria-label [color]="color" [(checked)]="privatFormGroup.controls.checkedFormControl7_privateVerbraeucheWasser.value" formControlName="checkedFormControl7_privateVerbraeucheWasser" [formControl]="privatFormGroup.controls.checkedFormControl7_privateVerbraeucheWasser"><h6 class="mt-2 align-middle">{{privatFormGroup.controls.checkedFormControl7_privateVerbraeucheWasser.value ?'Ja, Wasserzähler sind dieselben' : 'Nein, es gibt getrennte Wasserzähler'}}</h6></mat-slide-toggle><h6></h6>
                                                <mat-slide-toggle #privatRestmuell aria-label [color]="color" [(checked)]="privatFormGroup.controls.checkedFormControl8_privateVerbraeucheRestmuell.value" formControlName="checkedFormControl8_privateVerbraeucheRestmuell" [formControl]="privatFormGroup.controls.checkedFormControl8_privateVerbraeucheRestmuell"><h6 class="mt-2 align-middle">{{privatFormGroup.controls.checkedFormControl8_privateVerbraeucheRestmuell.value ?'Ja, der Müll geht in dieselben Tonnen' : 'Nein, es gibt private Mülltonnen'}}</h6></mat-slide-toggle>
                
                                                <h6>Gesamtanzahl der dort lebender Personen?</h6>
                                                <h6 class="fontweightnormal">Kinder und Erwachsene</h6>
                                                <mat-form-field class="full-width">                                   
                                                            <mat-select value="privatFormGroup.controls.anzahl_privater_bewohner.value" required placeholder="Anzahl der Privatbewohner" [formControl]="privatFormGroup.controls.anzahl_privater_bewohner"> 
                                                                <mat-option *ngFor="let number of nummer_anzahl_privater_bewohner; let i = index" [value]="i+1" ><!--Faulheit lass nach :D-->
                                                                       {{i+1}}
                                                                </mat-option>
                                                            </mat-select>
                                                </mat-form-field>
                                                <h6>Gesamtfläche Privat-/Mitarbeiterwohnungen in m²?</h6>
                                                <mat-form-field class="full-width"  >
                                                            <input matInput min="0.00" type="number" lang="de-DE" minlength="1" required placeholder="Größe der Privatwohnung in m²" formControlName="DavonPrivatwohnflaecheInM2" [formControl]="privatFormGroup.controls.DavonPrivatwohnflaecheInM2">
                                                            <span matSuffix>m²</span>
                                                            <mat-icon *ngIf="privatFormGroup.controls.DavonPrivatwohnflaecheInM2.valid" class="success-icon" matSuffix >done</mat-icon>                                
                                                </mat-form-field>
                                                <h6>Ist die Fläche der Privatwohnung in der angegebenen Gesamtfläche enthalten?</h6>
                                                <mat-slide-toggle #f aria-label [color]="color" [(checked)]="privatFormGroup.controls.checkedFormControl3.value" formControlName="checkedFormControl3" [formControl]="privatFormGroup.controls.checkedFormControl3"><h6 class="mt-2 align-middle">{{privatFormGroup.controls.checkedFormControl3.value ?'Ja' : 'Nein'}}</h6></mat-slide-toggle>            
                                    </div>
                    </div>
                <h6 [hidden]="true">Nutzen Sie LEDs als Beleuchtung Ihrer Einrichtung/en?</h6>
                        <mat-slide-toggle [hidden]="true" #bg aria-label [color]="color" [checked]="privatFormGroup.controls.checkedFormControl5_led.value" formControlName="checkedFormControl5_led" [formControl]="privatFormGroup.controls.checkedFormControl5_led"><h6 class="mt-2 align-middle">{{privatFormGroup.controls.checkedFormControl5_led.value ?'Ja' : 'Nein'}}</h6></mat-slide-toggle>

            </form>            
            </div>
        

    </div>
</div>