<div class="container">   
    <div class="row">
        <div class="col">
            <h5 class="d-block mx-auto  text-center">Bitte geben Sie Ihren Stromverbrauch an:</h5> 
        </div>
    </div>
  <div class="row">         
    <div class="col-md-12 col-sm-12">
        <form class="form card p-2" [formGroup]="StromFormGroup"> 
            <h6>Stromverbrauchen in kWh pro Jahr?</h6>
            <h6 class="fontweightnormal">Bitte geben Sie nur die Menge des zugekauften Stromes an. Der durch z. B. ein BHKW produzierte und ggf. verbrauchte Strom wird unter dem nachfolgenden Punkt „Heiz/Anlagen“ abgefragt</h6>
            <mat-form-field class="full-width">
                        <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0.00" minlength="1" required placeholder="Stromverbrauch in kWh pro Jahr" formControlName="stromverbrauch_in_kwh" [formControl]="StromFormGroup.controls.stromverbrauch_in_kwh">
                        <span matSuffix>kWh</span>
                        <mat-icon *ngIf="StromFormGroup.controls.stromverbrauch_in_kwh.valid" class="success-icon" matSuffix >done</mat-icon>
            </mat-form-field>
            <h6>Anteil Ökostrom Ihres Stromtarifes in Prozent</h6>
            <h6 class="fontweightnormal">Den Anteil des Ökostroms entnehmen Sie der Stromkennzeichnung, die Ihrer Abrechnung beigefügt ist. Addieren Sie die Werte "Erneuerbare Energien aus EEG-Umlage" und "Sonstige erneuerbare Energien".</h6>        
        
            <mat-form-field class="full-width">
                        <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0.00" max="100" minlength="1" required placeholder="% Ökostrom" formControlName="oekostromverbrauch_in_kwh" [formControl]="StromFormGroup.controls.oekostromverbrauch_in_kwh">
                        <span matSuffix>%</span>
                        <mat-hint>also: {{StromFormGroup.controls.oekostromverbrauch_in_kwh.value * StromFormGroup.controls.stromverbrauch_in_kwh.value/100 }} kWh</mat-hint>
                        <mat-icon *ngIf="StromFormGroup.controls.oekostromverbrauch_in_kwh.valid" class="success-icon" matSuffix >done</mat-icon>
            </mat-form-field>
        </form>
    </div>
  </div>
</div>