<div class="container"> 
    <div class="row">
        <div class="col">
                <h5 class="d-block mx-auto">Bitte geben Sie Ihre Daten zu Anlagen & Heizungen ein:</h5>
        </div>
    </div>
    <div class="row">            
            <div class="col">
              <div class="card p-2">
                    <div>                            
                        <h6 class="card-title">Bitte fügen Sie eine beliebige Anzahl Heizungen hinzu. Wählen Sie erst ein Heizmittel aus und klicken Sie danach auf Heizung hinzufügen.</h6>
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Bitte wählen Sie ein Heizmittel aus" [formControl]="HeizmittelSelector"> <!--[value]="heizmittelFormArray.controls.HeizmittelSelector.value"-->
                                <mat-option *ngFor="let heizmittelvalue of Heizmittelvalues.Heizmittelvalues; let i = index" [value]="heizmittelvalue" >
                                    {{heizmittelvalue|replace:'oe':'ö'|replace:'ae':'ä'|replace:'ue':'ü'}}
                                </mat-option>
                           </mat-select>                                                                                
                        </mat-form-field>
                        <div  *ngIf="HeizartSelectError" class="text-danger" >Bitte wählen Sie ein Heizmittel aus!</div>       
                        <div class="d-flex justify-content-center">                     
                           <button class="btn btn-sm btn-success" (click)="addHeizung()">Heizung hinzufügen</button><button class="btn btn-sm btn-success" (click)="removeHeizung()">Heizung entfernen</button>
                        </div>
                    </div>
            </div>
                    <form [formGroup]="heizmittelFormGroup" class="card p-2" *ngIf="Heizungen!=undefined">
                        <h6 class="card-title">Heizungen:</h6>
                        <h6 class="fontweightnormal p-1">Angaben dazu, wie viel Heizenergie verbraucht wurde, finden Sie in Ihrer Heizkostenabrechnung oder der Rechnung des Energielieferanten.</h6>
                        <div>
                            <div *ngFor="let heizmittelFormControl of heizmittelFormArray.controls; let i=index">
                            <h6 *ngIf="HeizungsNamenArray[i]">{{i+1}}. {{HeizungsNamenArray[i]|replace:'oe':'ö'|replace:'ae':'ä'|replace:'ue':'ü'}}:</h6>   
                                <mat-form-field [class.display-none]="HeizungsNamenArray[i]=='Waermepumpe'"  *ngIf="HeizungsNamenArray[i]" class="full-width">                                            
                                            <mat-label>{{HeizungsNamenArray[i]|replace:'oe':'ö'|replace:'ae':'ä'|replace:'ue':'ü'}}</mat-label>                                       
                                            <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0.00" minlength="1" required [formControl]="heizmittelFormControl">
                                            <div *ngIf="Heizungen[i]" matSuffix>{{Heizungen[i].einheit}}</div> 
                                </mat-form-field>
                                <p *ngIf="HeizungsNamenArray[i]=='Waermepumpe'">Sie haben eine Wärmepumpe. Bitte geben Sie den Stromverbrauch in Ihrem Gesamtstromverbrauch im Reiter "Strom" mit an.</p>
                            </div>
                        </div>
                    </form>
            </div>

            <div class="col">
              <div class="card p-2">
                  <!-- BHKW TOGGLE -->
                  <h6 class="card-title">Blockheizkraftwerk(e)</h6>
                  <mat-slide-toggle #bhkw [formControl]="BHKWtoggleFormControl" (click)="testForDisableBHKWToggle()">{{BHKWtoggleFormControl.value ?'Ja' : 'Nein'}}</mat-slide-toggle>
                  <div class="text-danger" *ngIf="BHKWToggleGesperrt"><span>Bitte löschen Sie erst alle BHKW und deaktivieren dann diesen Knopf</span></div>
                  <!-- BHKW SELECTOR-->
                  <div *ngIf="BHKWtoggleFormControl.value">
                    <h6 class="card-title">Bitte fügen Sie eine beliebige Anzahl BHKW hinzu. Wählen Sie erst ein Betriebsmittel aus und klicken Sie danach auf BHKW hinzufügen.</h6>
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Bitte wählen Sie ein Betriebsmittel aus" [formControl]="BHKWSelector"> 
                            <mat-option *ngFor="let BHKWvalue of BHKWBetriebsmittelValues.BHKWvalues; let i = index" [value]="BHKWvalue" >
                                {{BHKWvalue}}
                            </mat-option>
                        </mat-select>                                                                                
                    </mat-form-field>
                    <div *ngIf="BHKWBetriebsmittelSelectError" class="text-danger" >Bitte wählen Sie ein Betriebsmittel aus!</div>  
                    <div  class="d-flex justify-content-center">                          
                        <button class="btn btn-sm btn-success" (click)="addBHKW()">BHKW hinzufügen</button><button class="btn btn-sm btn-success"(click)="removeBHKW()">BHKW löschen</button>
                    </div>
                </div>

              </div>
              <form  class="card p-2" [formGroup]="BHKWFormGroup">
                  <!--BHKWS for Loop-->
                  <div *ngIf="BHKWtoggleFormControl.value">
                        <form [formGroup]="BHKWAnlagenFormGroup">
                                <div formArrayName="BHKWFormArray">
                                    <div *ngFor="let BHKWFormControl of BHKWAnlagenFormGroup.controls.BHKWFormArray.controls; let i=index">
                                    <h6 *ngIf="i %2 != 1">{{(i+1)/2+0.5}}. {{BHKWNamenArray[i]}}</h6>
                                        
                                        <mat-form-field *ngIf="i %2 != 1" class="full-width">
                                                    <mat-label>BHKW Eigenverbrauch Strom:</mat-label>
                                                    <mat-hint>Tragen Sie 0 ein, wenn Sie keinen Strom selbst verbrauchen</mat-hint>
                                                    <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" minlength="1" required [formControlName]="i" [formControl]="BHKWFormControl">
                                                    <div matSuffix>kWh</div>
                                                    <div matPrefix></div>
                                        </mat-form-field> 
                                        <mat-form-field *ngIf="i %2 != 0"class="full-width">
                                                    <mat-label>BHKW eingespeister Strom:</mat-label>
                                                    <mat-hint>Tragen Sie 0 ein, wenn Sie keinen Strom einspeisen</mat-hint>
                                                    <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" minlength="1" required [formControlName]="i" [formControl]="BHKWFormControl ">
                                                    <div matSuffix>kWh</div>
                                                    <div matPrefix></div>
                                        </mat-form-field> 
                                    </div>
                                </div>
                            </form>
                  </div>
              </form>
            
              <form class="card p-2" [formGroup]="PhotovoltaikFormGroup">
                  <h6 class="card-title">Photovoltaikanlage(n)</h6>
                  <mat-slide-toggle #photo formControlName="PhotovoltaikToggleFormControl" [formControl]="PhotovoltaikFormGroup.controls.PhotovoltaikToggleFormControl">{{PhotovoltaikFormGroup.controls.PhotovoltaikToggleFormControl.value ?'Ja' : 'Nein'}}</mat-slide-toggle>
                  <div *ngIf="PhotovoltaikFormGroup.controls.PhotovoltaikToggleFormControl.value">
                    <h6>Eigenverbrauch Strom:</h6>
                    <mat-form-field class="full-width">
                                <mat-hint>Tragen Sie 0 ein, wenn Sie keinen Strom selbst verbrauchen</mat-hint>
                                <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" minlength="1" required formControlName="PhotovoltaikEigenverbrauchFormControl" [formControl]="PhotovoltaikFormGroup.controls.PhotovoltaikEigenverbrauchFormControl">
                                <div matSuffix>kWh</div>
                                <div matPrefix></div>
                    </mat-form-field> 
                    <h6>Eingespeister Strom:</h6>
                    <mat-form-field class="full-width">
                                <mat-hint>Tragen Sie 0 ein, wenn Sie keinen Strom einspeisen</mat-hint>
                                <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" minlength="1" required formControlName="PhotovoltaikEingespeistFormControl" [formControl]="PhotovoltaikFormGroup.controls.PhotovoltaikEingespeistFormControl">
                                <div matSuffix>kWh</div>
                                <div matPrefix></div>
                    </mat-form-field> 
                  </div>
                </form>
            </div>    
    </div>
</div>