﻿<app-navigation></app-navigation>    
  
   <div class="container" style="height:90%!important;padding-top:50px;">
            <alert class="text-center"></alert>
            <router-outlet></router-outlet>
    </div>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">