<div class="col-sm-12" id="impressum">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card white_85percent mx-auto p-5">
                <h3>Impressum:</h3>
                <p></p>
                <img src="/assets/img/logo_claim.png" style="max-width:40%" class="float-right">
                <div class="py-4">
                    <p>Viabono GmbH</p>
                    <p>Hauptstr. 230</p>
                    <p>51503 Rösrath-Hoffnungsthal</p>
                    <p>Tel: 02205 – 9198350</p>
                    <p>Fax: 02205 – 9198355</p>
                    <p>E-Mail: info​[at]​viabono.de</p>
                    <p>Vertreten durch den Geschäftsführer: Ullrich Langhoff</p>
                    <p>Registergericht: Amtsgericht Köln</p>
                    <p>Registernummer: HRB 47486</p>
                    <p>Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: DE248938948</p>
                    <p>Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: Ullrich Langhoff</p>
                    <p></p>
                </div>
            </div>    
        </div>
    </div>
</div>