    
    <mat-horizontal-stepper [class.disabled]="disabled==true" (selectionChange)="saveEverything()" class="container jumbotron" #stepper>
        <ng-template matStepLabel matStepperIcon="done">
            <mat-icon>domain</mat-icon>
          Kontaktdaten
        </ng-template>
              <mat-step class="mat-step-selected-tab" [stepControl]="zeroFormGroup">
                  <ng-template matStepLabel>
                      <div class="mat-step-selected-tab">
                        <mat-icon>play_arrow</mat-icon>
                        <span class="align-middle"> Start</span>
                      </div>
                  </ng-template>
                  <!-- STEP 0 -->
                  <!-- INTRO -->
                  <form [formGroup]="zeroFormGroup">                      
                        <!-- so wird den Children die Events saveKunde & saveAdressen zugänglich gemacht -->
                        <app-intro [saveIntroDaten]="saveIntroDaten" [pruefeEingabe]="pruefeEingabe" ></app-intro>
                    <div class="d-flex justify-content-center p-4">
                      <button class="btn btn-success mx-3 align-center"  matStepperNext *ngIf="zeroFormGroup.valid">weiter</button>
                    </div>
                  </form>
                </mat-step>
                <!-- STEP 1 -->
                <!-- Kontaktdaten -->
                <mat-step [stepControl]="firstFormGroup" class="mat-step-selected-tab">
                    <ng-template matStepLabel>
                        <mat-icon>perm_contact_calendar</mat-icon>
                        <span class="align-middle"> Kontakt</span>
                    </ng-template>

                  <form [formGroup]="firstFormGroup">                      
                        <!-- so wird den Children die Events saveKunde & saveAdressen zugänglich gemacht -->
                        <app-kundeneingabe [saveKunde]="saveKunde" [saveAdressen]="saveAdressen" [pruefeEingabe]="pruefeEingabe"></app-kundeneingabe>
                    <div class="d-flex justify-content-center p-4">
                      <button class="btn btn-success mx-3 align-center"  matStepperNext *ngIf="firstFormGroup.valid">weiter</button>
                    </div>
                  </form>
                </mat-step>
                <!-- STEP 2 -->
                <!-- Betriebsdaten -->
                <mat-step [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup">
                      <ng-template matStepLabel matStepperIcon="done">
                          <mat-icon>hotel</mat-icon>
                          <span class="align-middle"> Betrieb</span>                        
                      </ng-template>
                        <!-- Save Events im HTML:-->
                        <app-betriebsdaten [saveBetriebsdaten]="saveBetriebsdaten"  [pruefeEingabe]="pruefeEingabe"></app-betriebsdaten>                   
                    <div class="d-flex justify-content-center p-4">
                      <button class="btn btn-success mx-3 align-center" matStepperPrevious>zurück</button>
                      <button class="btn btn-success mx-3 align-center" matStepperNext>weiter</button>
                    </div>
                  </form>
                </mat-step>
                <!-- STEP 3 -->
                <!-- Wasser -->
                <mat-step [stepControl]="thirdFormGroup">
                        <form [formGroup]="thirdFormGroup">
                            <ng-template matStepLabel matStepperIcon="done">
                                <mat-icon>waves</mat-icon>
                                <span class="align-middle"> Wasser</span>
                            </ng-template>
                              <!-- Save Events im HTML:-->
                              <app-wasser [saveWasser]="saveWasser" [pruefeEingabe]="pruefeEingabe"></app-wasser>                   
                          <div class="d-flex justify-content-center p-4">
                            <button class="btn btn-success mx-3 align-center" matStepperPrevious>zurück</button>
                            <button class="btn btn-success mx-3 align-center" matStepperNext>weiter</button>
                          </div>
                        </form>
                </mat-step>    
                <!-- STEP 4 -->
                <!-- Strom -->
                <mat-step [stepControl]="fourthFormGroup">
                        <form [formGroup]="fourthFormGroup">
                            <ng-template matStepLabel matStepperIcon="done">
                                <mat-icon>offline_bolt</mat-icon>
                                <span class="align-middle"> Strom</span>
                            </ng-template>
                              <!-- Save Events im HTML:-->
                              <app-strom [saveStrom]="saveStrom" [pruefeEingabe]="pruefeEingabe"></app-strom>                   
                          <div class="d-flex justify-content-center p-4">
                            <button class="btn btn-success mx-3 align-center" matStepperPrevious>zurück</button>
                            <button class="btn btn-success mx-3 align-center" matStepperNext>weiter</button>
                          </div>
                        </form>
                </mat-step>    
                <!-- STEP 5 -->
                <!-- Heizung und Anlagen -->
                <mat-step [stepControl]="fifthFormGroup">
                        <form [formGroup]="fifthFormGroup">
                            <ng-template matStepLabel matStepperIcon="done">
                                <mat-icon>whatshot</mat-icon>
                                <span class="align-middle"> Heiz-/Anlagen</span>
                            </ng-template>
                              <!-- Save Events im HTML:-->
                              <app-strom-heizung [saveStromHeizung]="saveStromHeizung" [pruefeEingabe]="pruefeEingabe"></app-strom-heizung>                   
                          <div class="d-flex justify-content-center p-4">
                            <button class="btn btn-success mx-3 align-center" matStepperPrevious>zurück</button>
                            <button class="btn btn-success mx-3 align-center" matStepperNext>weiter</button>
                          </div>
                        </form>
                </mat-step>    
                <!-- STEP 6 -->
                <!-- Abfälle -->
                 <mat-step [stepControl]="sixthFormGroup">
                        <form [formGroup]="sixthFormGroup">
                            <ng-template matStepLabel matStepperIcon="done">
                                <mat-icon>delete</mat-icon>
                                <span class="align-middle"> Abfall</span>
                            </ng-template>
                              <!-- Save Events im HTML:-->
                              <app-restabfall [saveRestabfalltonnen]="saveRestabfalltonnen" [pruefeEingabe]="pruefeEingabe"></app-restabfall>                   
                          <div class="d-flex justify-content-center p-4">
                            <button class="btn btn-success mx-3 align-center" matStepperPrevious>zurück</button>
                            <button class="btn btn-success mx-3 align-center" matStepperNext>weiter</button>
                          </div>
                        </form>
                </mat-step>
                <!-- STEP 7 -->
                <!-- Eingabecheck -->
                <mat-step [stepControl]="seventhFormGroup">
                    <form [formGroup]="seventhFormGroup">
                        <ng-template matStepLabel matStepperIcon="done">
                            <mat-icon>cloud_upload</mat-icon>
                            <span class="align-middle"> Abgabe</span>
                        </ng-template>
                        <!-- Save Events im HTML:-->
                        <app-pruefung [pruefeEingabe]="pruefeEingabe"></app-pruefung>                   
                    <div class="d-flex justify-content-center p-4">
                      
                    </div>
                  </form>
                </mat-step>
        </mat-horizontal-stepper>
<app-footer></app-footer>
  