<!-- main app container -->
<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm bg-success navbar-dark fixed-top " style="color:black" id="main-nav">
    <div class="container" style="margin-top:-9px!important;">
      <a href="index.html" class="navbar-brand">quickcheckumwelt.de</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mx-auto rounded" id="navbarCollapse">
        <ul class="navbar-nav ml-auto bg-success p-3">
          <li class="nav-item">
              <a href="/eingabe" class="nav-link">Daten eingeben</a>
            </li>
          <li class="nav-item">
              <a href="https://www.viabono.de/kontakt.html" target="_blank" class="nav-link">Kontakt</a>
          </li>
          <li class="nav-item">
            <a href="/assets/2019-05 Viabono_Flyer.pdf" target="_blank" class="nav-link">Flyer</a>
          </li>
          <li class="nav-item" *ngIf="!login">
              <a class="nav-link btn-lg btn-success" href="/login" style="color:white;">Login</a>
          </li>
          <li class="nav-item" *ngIf="login">
              <a class="nav-link" href="/logout" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
