<div class="container">
    <div class="row">
        <div class="col">
        <h5 class="d-block mx-auto text-center">Bitte geben Sie Ihre Kontaktdaten ein:</h5>  
    </div>
    </div>        
    <div class="row">        
        <div class="col-lg-4 card my-2 py-2">       
            <h6 class="card-title">Firmenanschrift</h6>     
            <form class="form card-body" [formGroup]="FirmenAddressFormGroup">
                    <mat-form-field class="full-width">
                            <input [errorStateMatcher]="matcher" matInput required minlength=3 placeholder="Firmenname" formControlName="name" [formControl]="FirmenAddressFormGroup.controls.name">
                            <mat-icon *ngIf="FirmenAddressFormGroup.controls.name.valid" class="success-icon" matSuffix >done</mat-icon>
                    </mat-form-field>
                    <mat-form-field  class="full-width">
                            <input [errorStateMatcher]="matcher" matInput required minlength=4 placeholder="Straße" formControlName="strasse" [formControl]="FirmenAddressFormGroup.controls.strasse">
                            <mat-icon *ngIf="FirmenAddressFormGroup.controls.strasse.valid" class="success-icon" matSuffix >done</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                            <input [errorStateMatcher]="matcher" matInput  placeholder="Adresszusatz" formControlName="adresszusatz" [formControl]="FirmenAddressFormGroup.controls.adresszusatz">
                            <mat-icon *ngIf="FirmenAddressFormGroup.controls.adresszusatz.touched" class="success-icon" matSuffix >done</mat-icon>
                    </mat-form-field>
                    <mat-form-field  class="full-width">
                            <input [errorStateMatcher]="matcher" matInput required placeholder="Postleitzahl" minlength="4" maxlength="6" type="number" lang="de-DE"  formControlName="postleitzahl" [formControl]="FirmenAddressFormGroup.controls.postleitzahl">
                            <mat-icon *ngIf="FirmenAddressFormGroup.controls.postleitzahl.valid" class="success-icon" matSuffix >done</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                            <input [errorStateMatcher]="matcher" matInput required placeholder="Ort"  minlength="2" formControlName="ort" [formControl]="FirmenAddressFormGroup.controls.ort">
                            <mat-icon *ngIf="FirmenAddressFormGroup.controls.ort.valid" class="success-icon" matSuffix >done</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                            <input [errorStateMatcher]="matcher" matInput placeholder="Land"  minlength="4" formControlName="land" [formControl]="FirmenAddressFormGroup.controls.land">
                            <mat-icon *ngIf="FirmenAddressFormGroup.controls.land.valid" class="success-icon" matSuffix >done</mat-icon>
                    </mat-form-field>   
                    <mat-form-field class="full-width">
                                <input [errorStateMatcher]="matcher" matInput placeholder="UStID - Umsatzsteueridentifikationsnummer"  minlength="4" formControlName="UStID" [formControl]="FirmenAddressFormGroup.controls.UStID">
                                <mat-icon *ngIf="FirmenAddressFormGroup.controls.UStID.valid" class="success-icon" matSuffix >done</mat-icon>
                     </mat-form-field>     
            </form>
        </div>   
            <div class="col-lg-4 card my-2 py-2">
                <h6 class="card-title">Kontaktdaten Ansprechpartner:</h6> 
                <h6 class="fontweightnormal">Bitte geben Sie hier eine E-Mail-Adresse an, an die die Rechnung sowie die Detailauswertung geschickt werden sollen.</h6>
                <form class="form card-body" [formGroup]="kontaktdatenFormGroup">                     
                    <mat-form-field  class="full-width">
                        <input [errorStateMatcher]="matcher" matInput required minlength="3" placeholder="Name Ihres Betriebs (für Auswertung)" formControlName="name_des_betriebes" [formControl]="kontaktdatenFormGroup.controls.name_des_betriebes">
                        <mat-icon *ngIf="kontaktdatenFormGroup.controls.name_des_betriebes.valid" class="success-icon" matSuffix >done</mat-icon>
                    </mat-form-field>                        
                    <mat-form-field class="full-width">
                            <mat-select [value]="kontaktdatenFormGroup.controls.ansprechpartner_ansprache.value" placeholder="Bitte wählen Sie eine Anrede aus" [formControl]="kontaktdatenFormGroup.controls.ansprechpartner_ansprache">
                                <mat-option value="Frau">Frau</mat-option>
                                <mat-option value="Herr">Herr</mat-option>                                
                                <mat-option value="">Keine</mat-option>
                            </mat-select>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input [errorStateMatcher]="matcher" matInput minlength="3" required  placeholder="Name des Ansprechpartners" formControlName="ansprechpartner" [formControl]="kontaktdatenFormGroup.controls.ansprechpartner">
                        <mat-icon *ngIf="kontaktdatenFormGroup.controls.ansprechpartner.valid" class="success-icon" matSuffix >done</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                            <input [errorStateMatcher]="matcher" matInput minlength="3" placeholder="E-Mail Anpsprechpartner" [formControl]="kontaktdatenFormGroup.controls.ansprechpartner_email"
                            [errorStateMatcher]="matcher" required>
                            <mat-hint *ngIf="kontaktdatenFormGroup.controls.ansprechpartner_email.hasError('email') && !kontaktdatenFormGroup.controls.ansprechpartner_email.hasError('required')">
                            Bitte geben Sie ein richtige Emailadresse an!
                            </mat-hint>
                            <mat-icon *ngIf="kontaktdatenFormGroup.controls.ansprechpartner_email.valid" class="success-icon" matSuffix >done</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input [errorStateMatcher]="matcher" matInput minlength="3" required type="tel" placeholder="Telefonnummer des Ansprechpartners"  [formControl]="kontaktdatenFormGroup.controls.ansprechpartner_telefon">
                        <mat-icon *ngIf="kontaktdatenFormGroup.controls.ansprechpartner_telefon.valid" class="success-icon" matSuffix >done</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                    <input [errorStateMatcher]="matcher" matInput minlength="3" type="tel" placeholder="Handynummer des Ansprechpartners" formControlName="ansprechpartner_mobil" [formControl]="kontaktdatenFormGroup.controls.ansprechpartner_mobil">
                       
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input [errorStateMatcher]="matcher" matInput placeholder="ggf.Notizen" formControlName="notiz" [formControl]="kontaktdatenFormGroup.controls.notiz">
                    </mat-form-field>
                </form>
            </div>
            <div class="col-lg-4 card my-2 py-2">            
                <form class="form" [formGroup]="RechnungsAddressFormGroup">            
                <h6 class="card-title" *ngIf="RechnungsAddressFormGroup.controls.checkedFormControl_Rechnungsadresse.value">Rechnungsanschrift</h6>
                <div class="card-body" *ngIf="RechnungsAddressFormGroup.controls.checkedFormControl_Rechnungsadresse.value">
                        <mat-form-field class="full-width">
                                <input [errorStateMatcher]="matcher" matInput required minlength="3" placeholder="Firmenname" formControlName="name" [formControl]="RechnungsAddressFormGroup.controls.name">
                                <mat-icon *ngIf="RechnungsAddressFormGroup.controls.name.valid" class="success-icon" matSuffix >done</mat-icon>
                        </mat-form-field>
                        <mat-form-field  class="full-width">
                                <input [errorStateMatcher]="matcher" matInput required minlength="3" placeholder="Straße" formControlName="strasse" [formControl]="RechnungsAddressFormGroup.controls.strasse">
                                <mat-icon *ngIf="RechnungsAddressFormGroup.controls.strasse.valid" class="success-icon" matSuffix >done</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                                <input [errorStateMatcher]="matcher" matInput placeholder="Adresszusatz" formControlName="adresszusatz" [formControl]="RechnungsAddressFormGroup.controls.adresszusatz">
                               
                        </mat-form-field>
                        <mat-form-field  class="full-width">
                                <input [errorStateMatcher]="matcher" matInput required type="number" lang="de-DE" placeholder="Postleitzahl" minlength="4" maxlength="6" formControlName="postleitzahl" [formControl]="RechnungsAddressFormGroup.controls.postleitzahl">
                                <mat-icon *ngIf="RechnungsAddressFormGroup.controls.postleitzahl.valid" class="success-icon" matSuffix >done</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                                <input [errorStateMatcher]="matcher" matInput required minlength="3" placeholder="Ort" formControlName="ort" [formControl]="RechnungsAddressFormGroup.controls.ort">
                                <mat-icon *ngIf="RechnungsAddressFormGroup.controls.ort.valid" class="success-icon" matSuffix >done</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                                <input [errorStateMatcher]="matcher" matInput placeholder="Land" minlength="3" formControlName="land" [formControl]="RechnungsAddressFormGroup.controls.land">
                                <mat-icon *ngIf="RechnungsAddressFormGroup.controls.land.valid" class="success-icon" matSuffix >done</mat-icon>
                        </mat-form-field>   
                        <mat-form-field class="full-width">
                                <input [errorStateMatcher]="matcher" matInput placeholder="UStID - Umsatzsteueridentifikationsnummer" minlength="3" formControlName="UStID" [formControl]="RechnungsAddressFormGroup.controls.UStID">
                                <mat-icon *ngIf="RechnungsAddressFormGroup.controls.UStID.valid" class="success-icon" matSuffix >done</mat-icon>
                        </mat-form-field>     
                </div>
                <h6 style="display:inline">Abweichende Rechnungsanschrift</h6>
                <mat-slide-toggle style="display:inline" #Rechnungsadresse aria-label type="checkbox" [checked]="RechnungsAddressFormGroup.controls.checkedFormControl_Rechnungsadresse.value" formControlName="checkedFormControl_Rechnungsadresse" [formControl]="RechnungsAddressFormGroup.controls.checkedFormControl_Rechnungsadresse"></mat-slide-toggle>
                <h6 class="mt-2 align-middle">{{RechnungsAddressFormGroup.controls.checkedFormControl_Rechnungsadresse.value ? 'Ja' : 'Nein'}}</h6>
        </form>
        </div>
    </div>
</div>
<!----->