<div>
  <h2>Prüfung Ihrer Eingabe</h2>
  <div *ngIf="DisabledWegenPruefehlern" style="font-size:12px">bitte korrigieren Sie folgende Angaben</div>
  <div *ngIf="DisabledWegenPruefehlern==false" style="font-size:12px">Ihre Eingabe ist korrekt. Sie können die Quick Check Umwelt jetzt abgeben:</div>
 
    <div class="col-lg-3 col-md-3 col-sm-12 p-3 rounded" *ngFor="let FormGroupName of FormGroupNamen;let i=index;" class="card">
        <h6>{{FormGroupName}}</h6>
        <div *ngFor="let Error of Errors[i];let a=index;" class="alert alert-danger" role="alert">{{Error}}</div>
    </div>
  
  <div class="card my-4">
    <Button *ngIf="berechnet==false" class="alert btn btn-info mx-auto my-4 mx-auto"  [disabled]="abgabeKnopfGesperrt" (click)="abgabe()">Jetzt zahlungspflichtig bestellen</Button>
    <Button *ngIf="berechnet==true"  class="alert btn btn-light mx-auto my-4 mx-auto" [disabled]="abgabeKnopfGesperrt" (click)="abgabe()">...erfolgreich bestellt...</Button>
    
    <div *ngIf="valueAGBacceptance==false" class="alert alert-warning">Bitte bestätigen den Kauf.</div>

    <mat-radio-group class="px-4">
        <mat-radio-button  [disabled]="disabledAGBacceptance" [value]="valueAGBacceptance" [checked]="valueAGBacceptance" (click)="accept()"><span>Bitte bestätigen Sie, dass Sie die Berechnung des Quick Check Umwelt für 99,- Euro zzgl. MwSt. jetzt bestellen.</span></mat-radio-button>
    </mat-radio-group>
  </div>
  <alert class="text-center"></alert>
  <div class="my-4 alert alert-success" *ngIf="berechnet==true">
    <div class="card-head text-center">Der Quick Check Umwelt wurde erfolgreich übertragen</div>
    <div class="card-body text-center">   
        <fa class="fas" name="check" size="5x"></fa>
    </div>
    <div class="card-body text-justify"> 
      <p>Ihre im Quick Check Umwelt eingegebenen Daten wurden erfolgreich an die Viabono GmbH übertragen. Sie können sich nun ausloggen.</p>
      <p>Die Auswertung des Quick Check Umwelt wird Ihnen zusammen mit der Rechnung an die von Ihnen angegebene E-Mail-Adresse zugesendet.</p>
      <p>Für Fragen stehen wir Ihnen selbstverständlich gerne zur Verfügung.</p>
      <p>Viabono GmbH <br>
        Hauptstr. 230 <br>
        51503 Rösrath-Hoffnungsthal<br>
        <br>
        Tel: 02205 - 9198350<br>
        Fax: 02205 - 9198355<br>
        E-Mail: info​@​viabono.de<br>
        <br>
        Geschäftsführer: Ullrich Langhoff, Peter Schulze Isfort<br>
        Handelsregisternummer: HRB 47486<br>
        Amtsgericht Köln<br>
        Umsatzsteuer-Identifikationsnummer: DE248938948
      </p>
    </div>
  </div>
</div>
