/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  src: url('/assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v14/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUcel5euIg.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsround/v14/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmPq_HTTw.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Material Icons Sharp';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconssharp/v15/oPWQ_lt5nv4pWNJpghLP75WiFR4kLh3kvmvRImcycg.woff2) format('woff2');
}

/* fallback for Material Fonts*/
@font-face {
  font-family: 'Material Icons Two Tone';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconstwotone/v13/hESh6WRmNCxEqUmNyh3JDeGxjVVyMg4tHGctNCu0NjbrHg.woff2) format('woff2');
}

html {
  font-size: 0.85rem;
}

.fontweightnormal{
  font-weight: 350;
  font-size: 0.9em;  
}
.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin:auto;
}
.full-width {
  width: 100%;
}

h6{margin-top:1em;}

.green{ 
  color: #758e4b;
  fill:#758e4b;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.success-icon svg {
  fill:#758e4b;
}

.success-icon {
  color:#758e4b;
}

body { 
    background: url("/assets/img/2019-05-05 Spring Background_1920.jpg" )!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-attachment: fixed!important;
    font-family: 'Roboto', sans-serif;
  }

navbar {
    border-bottom: #ffffff 3px solid;
    opacity: 0.9;
}
.navbar-nav>li>a {padding-top:5px; padding-bottom:5px;}
#main-nav {height:45px;}

.navbar-brand{
  height:inherit;
  font-size:1.75em;
}
#explore-head-section .container{
      background-color:rgba(255, 255, 255, 0.85)
}
  
.login{ 
  margin:auto!important;
  background-color:white;
  }
  
.register{ 
  margin-top:10.5em;
  background-color:white;
  margin-bottom: 10.5em;
  margin-left: 14em;  
}
  
#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 618px;
    background: rgba(255, 255, 255, 0.1);
}
  
#home-section .home-inner {
    padding-top: unset;
}
  
#home-section .card-form {
    opacity: 0.9;
}
  
.btn-link{
color:black!important;

}
.fas {
    color: #758e4b;
  }

  #explore-head-section{
    margin-top:2.5em;    
    margin-bottom:2.5em;
  }

  #explore-section{
      margin-top:2.5em;
  }
  .bg-viabonoGreen{
    background-color: #758e4b;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
.mat-step-label {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: visible!important;
  min-width: 0px!important;
  vertical-align: middle;
  font-size: 14px!important;
}
.mat-radio-label { white-space: unset!important; }
 ngb-tabset ul {
  font-size: .85em;
  color : #999999
 }
 ngb-tabset > ul a {
  color : #333333;
  
 }
 app-restabfall input { 
  font-weight: 400;
 }
 .mat-slide-toggle-content{
  font-weight: 400;
 }
 .jumbotron p{
    font-size: 14px!important;
 }
 div.mat-step-icon-state-edit .mat-step-icon{ 
   display:none;
 }
 .mat-icon{
   color:green;
 }
 .material-icons {
  vertical-align: bottom;
 }
.mat-horizontal-stepper-header .mat-step-icon {
   display: none;
 }

 .container{
   padding-left: unset;
   padding-right:unset;
 }
 #home-section  .row{ margin-left:unset; margin-right:unset;}
 .row-zero-margin{ margin-left:unset!important; margin-right:unset!important;}

 .white_85percent{
  background-color:rgba(255, 255, 255, 0.87);
 }

.readMore{
  position: absolute;
  bottom:5px;
  margin-top:10px;
}
.tab-content {
  height:100%!important;
}
.tab-pane {
  height:100%!important;
}
#partner {
  color:rgba(255, 255, 255, 0.85);
}
.section{
  margin-top:30px;
  margin-bottom:30px;
}
#Auswertung .card-body{ padding-top:0px;}
body{font-size:1.125em!important;}

.mat-checkbox-checked .mat-checkbox-checkmark{background-color: green;}
.mat-checkbox-layout { 
  white-space: normal !important; 
  font-weight: 300!important;
}
.mat-checkbox-label {
  line-height: 17px!important;
}
.border-viabono{
  border-style: solid;
  border-color: rgba(124,142,64);
}
.mat-step-label-selected{ 
  font-size:1.15em!important;   
  vertical-align:middle!important;
}
.mat-step-header[aria-selected="true"]{
  background-color: rgba(33,33,33,0.15);
  border-radius: 5px; 
}
.mat-horizontal-content-container {
    padding: 10px 24px 24px 24px!important;
}

/*
Thanks to Pafson's comment, this is finally working as expected! He proposes the following algorithm to determine the percentages and timings:

For "n" images You must define:
a=presentation time for one image
b=duration for cross fading
Total animation-duration is of course t=(a+b)*n

animation-delay = t/n or = a+b

Percentage for keyframes:
0%
a/t*100%
(a+b)/t*100% = 1/n*100%
100%-(b/t*100%)
100%
*/
@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
#cf4a img:nth-of-type(1) {
  animation-delay: 24s;
}
#cf4a img:nth-of-type(2) {
  animation-delay: 16s;
}
#cf4a img:nth-of-type(3) {
  animation-delay: 8s;
}
#cf4a img:nth-of-type(4) {
  animation-delay: 0;
}
.navbar-brand, .navbar-nav {
   text-shadow: 0 0 0 rgba(255,255,255,.25)!important;
}

.display-none{ display: none!important;}

.disabled{
  pointer-events :none!important; 
  cursor : not-allowed;
}