<div class="container"> 
  <div class="row">        
    <h5 class="d-block mx-auto text-center">Bitte geben Sie Ihre Daten im Bereich Wasser an:</h5> 
    <div class="col-md-12 col-sm-12">
    <form class="form card p-2" [formGroup]="WasserFormGroup">  
        <h6>Wasserverbrauch pro Jahr in m³</h6>
        <mat-form-field  class="full-width">
                    <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0.00" minlength="1" required placeholder="Wasserverbrauch in m³ pro Jahr" formControlName="wasserverbrauch_in_m3" [formControl]="WasserFormGroup.controls.wasserverbrauch_in_m3">
                    <span matSuffix>m³</span>
                    <mat-icon *ngIf="WasserFormGroup.controls.wasserverbrauch_in_m3.valid" class="success-icon" matSuffix >done</mat-icon>
        </mat-form-field>
    </form>
    </div>
    <div class="col-md-12 col-sm-12">
        <form class="form card p-2"  [formGroup]="wellnessbereichFormGroup">
            <h6>Wellnessbereich</h6>
            <mat-slide-toggle #w formControlName="checkedFormControl" type="checkbox" [checked]="wellnessbereichFormGroup.controls.checkedFormControl.value" [formControl]="wellnessbereichFormGroup.controls.checkedFormControl"> {{wellnessbereichFormGroup.controls.checkedFormControl.value ? 'Ja' : 'Nein'}}</mat-slide-toggle>
            <div *ngIf="wellnessbereichFormGroup.controls.checkedFormControl.value">
                <h6>Gesamtfläche Wellnessbereich in m²</h6>
                <mat-form-field class="full-width">
                            <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0.00" minlength="1" required placeholder="Gesamtfläche Wellnessbereich in m²" formControlName="groesse_in_m2" [formControl]="wellnessbereichFormGroup.controls.groesse_in_m2">
                            <span matSuffix>m²</span>
                            <mat-icon *ngIf="wellnessbereichFormGroup.controls.groesse_in_m2.valid" class="success-icon" matSuffix >done</mat-icon>                                
                </mat-form-field>

                <h6>Volumen Schwimmbad in m³<br> Bei mehreren Schwimmbädern geben Sie bitte das Gesamtvolumen an.</h6>
                <mat-form-field class="full-width">
                            <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0.00" minlength="0" placeholder="Volumen Schwimmbad in m³" formControlName="volumen_schwimmbad_in_m3" [formControl]="wellnessbereichFormGroup.controls.volumen_schwimmbad_in_m3">
                            <span matSuffix>m³</span>                          
                </mat-form-field>
                
                <h6>Anzahl der Saunen</h6>
                <mat-form-field class="full-width">
                            <input [errorStateMatcher]="matcher" matInput type="number" lang="de-DE" min="0" required placeholder="Anzahl der Saunen insgesamt" formControlName="anzahl_der_saunen" [formControl]="wellnessbereichFormGroup.controls.anzahl_der_saunen">
                            <mat-icon *ngIf="wellnessbereichFormGroup.controls.anzahl_der_saunen.valid" class="success-icon" matSuffix >done</mat-icon>
                </mat-form-field>
                <h6>Öffnungswochen des Wellnessbereichs pro Jahr</h6>
                <mat-form-field class="full-width">
                            <mat-select [value]="wellnessbereichFormGroup.controls.Oeffnungswochen_pro_jahr.value" placeholder="Öffnungswochen des Wellnessbereichs pro Jahr" [formControl]="wellnessbereichFormGroup.controls.Oeffnungswochen_pro_jahr"> 
                                <mat-option *ngFor="let kalenderwoche of kalenderwochen; let i = index" [value]="i+1" >
                                    {{i+1}}
                                </mat-option>
                            </mat-select>
                </mat-form-field>
            </div>                          
        </form>
    </div>  
  </div>
</div>